{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bs/js/bootstrap.bundle.min.js' %}"></script>        
    <title>카카오페이 결제완료</title>
</head>
<body>
<div class="mt-5 pt-5 row justify-content-center">
    <h2 class="text-center my-5 col-12">결제가 완료되었습니다!</h2>
    <div class="col-4 p-5 bg-light">
        <h3 class="text-center my-5">주문자 정보</h3>
        <div>
            <div class="my-3 row">
                <div class="h5 col-6">주문번호</div>
                <div class="h6 col-6 text-right">{{ res.partner_order_id }}</div>
            </div>
            <div class="my-3 row">
                <div class="h5 col-6">상품명</div>
                <div class="h6 col-6 text-right">{{ res.item_name }}</div>
            </div>
            <div class="my-3 row">
                <div class="h5 col-6">결제금액</div>
                <div class="h6 col-6 text-right">{{ amount }}원</div>
            </div>
            <div class="my-3 row">
                <div class="h5 col-6">결제승인시각</div>
                <div class="h6 col-6 text-right">{{ res.approved_at }}</div>
            </div>
        </div>
        <div class="mt-5 pt-3 text-center">
            <a href="{% url 'order_success' %}" class="btn btn-warning">완료</a>
        </div>

    </div>

</div>

</body>
</html>