{% extends "base.html" %}
{% load mathfilters %}

{% block title %}
고객센터-상담내역
{% endblock %}

{% block contents %}

<div class="col-md-10">
    <div class="main" style="outline: 1px solid black;">
        <section>
            <div class="">
                <div class="row" style="width: 100%;">
                    <div class="col-md-6" style="border: 1px solid black;">sadsad</div>
                    <div class="col-md-6" style="border: 1px solid black;">sadsad</div>
                </div>
                <fieldset></fieldset>
            </div>
        </section>
    </div>
</div>

{% endblock %}


