{% extends "base.html" %}
{% load mathfilters %}

{% block title %}
고객센터-상담내역
{% endblock %}

{% block stylesheet %}
{% load static %}
<link href="{% static 'wonjun/css/question_main.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}



<div class="col-md-10" id="wrap">
    <div class="container">
        <h4>내 상담내역</h4>
        <div class="head">
            메일상담내역
        </div>
        <div class="row1 row d-flex">
            <button class="col-md-3 btn-primary date_btn" type="button">이번달</button>
            <button class="col-md-3 btn-primary date_btn"type="button">3개월</button>
            <button class="col-md-3 btn-primary date_btn" type="button">6개월</button>
            <button class="col-md-3 btn-primary date_btn" type="button">직접입력</button>
        </div>
        <div class="date">
            <div class="sub_date row">
                <div class="col-md-5"><input type="date" id="start_date" value="2012-12-12"></div>
                <div class="col-md-2"><h2>~</h2></div>
                <div class="col-md-5"><input type="date" id="end_date" value="2012-12-13"></div>
            </div>
        </div>
        {% for i in range %}
        <div style="height: 100px;  width: 100%; margin-top: 10px;">
            <div style="border: 1px solid black; width: 75px; height: 75px; margin: 12px; float: left;"></div>
            <div style="float: left; margin: 12px;">
                <table>
                    <tbody>
                        <tr><td style="border: 1px solid black; width: 80px; text-align: center; font-size: 13px;">답변상황</td></tr>
                    </tbody>
                    <tbody>
                        <tr><td>문의내용</td></tr>
                    </tbody>
                    <tbody>
                        <tr><td style="font-size: 11px; color: gray; padding-top: 5px;">선택상품</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        {% endfor %}
        <hr>
    </div>
</div>

<script>
    var nav_bar = document.getElementById("nav-category");
    // var nav_bar = document.getElementById("nav-user");
    nav_bar.classList.remove("d-none");
</script>
{% endblock %}