{% extends "base.html" %}
{% load mathfilters %}

{% block title %}
고객센터-상담내역
{% endblock %}

{% block contents %}



<div class="col-md-10">
    <div style="width: 90%; margin: 0 auto;">
        <h4 style="font-weight: bold; margin-top: 20px; margin-bottom: 20px;">내 상담내역</h4>
        <div style="width: 100%; height: 50px; text-align: center; color: rgb(126, 126, 118); font-size: 20px; font-weight: bold; line-height: 50px; background-color: #dcdcdc; border-radius: 5px;">
            메일상담내역
        </div>
        <div class="row d-flex" style="margin: auto; width: 100%; margin-top: 20px; justify-content: space-between;">
            <button class="col-md-2 btn-secondary date_btn" type="button">이번달</button>
            <button class="col-md-2 btn-secondary date_btn"type="button">3개월</button>
            <button class="col-md-2 btn-secondary date_btn" type="button">6개월</button>
            <button class="col-md-2 btn-secondary date_btn" type="button">직접입력</button>
        </div>
        <div>
            <div style="margin-top: 20px; width: 100%; margin-left: 0; box-shadow: 2px 2px 5px gray; border-radius: 5px; background-color: #dcdcdc;" class="row">
                <div class="col-md-5"><input type="date" id="start_date" style="border: none; color: rgb(151, 147, 147); font-weight: bold; height: 20px; margin-top: 15px; margin-bottom: 15px; float: left; background-color: #dcdcdc;" value="2012-12-12"></div>
                <div class="col-md-2"><h2 style="text-align: center; color: rgb(151, 147, 147); font-weight: bold;">~</h2></div>
                <div class="col-md-5"><input type="date" style="border: none; height: 20px; color: rgb(151, 147, 147); font-weight: bold; margin-top: 15px; margin-bottom: 15px; float: right; background-color: #dcdcdc;" id="end_date;" value="2012-12-13"></div>
            </div>
        </div>
        {% for i in range %}
        <div style="height: 100px;  width: 100%; margin-top: 10px;">
            <div style="border: 1px solid black; width: 75px; height: 75px; margin: 12px; float: left;"></div>
            <div style="float: left; margin: 12px;">
                <table>
                    <tbody>
                        <tr><td style="border: 1px solid black; width: 80px; text-align: center; font-size: 13px;">답변상황</td></tr>
                    </tbody>
                    <tbody>
                        <tr><td>문의내용</td></tr>
                    </tbody>
                    <tbody>
                        <tr><td style="font-size: 11px; color: gray; padding-top: 5px;">선택상품</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        {% endfor %}
        <hr>
    </div>
</div>

<script>
    var nav_bar = document.getElementById("nav-category");
    // var nav_bar = document.getElementById("nav-user");
    nav_bar.classList.remove("d-none");
</script>
{% endblock %}