{% extends "base.html" %}
{% load mathfilters %}

{% block title %}
고객센터-상담답변페이지
{% endblock %}

{% block contents %}

<style>
    td{
        border: 1px solid blue;
        height: 50px;
        text-align: center;
    }
    .a tr:last-child > td{
        height: 400px;
    }
    .btn{
        text-align: center;
        border: 1px solid rgb(123, 114, 245);
    }
</style>

<div class="col-md-10">
    <div style="width: 90%; margin: 0 auto;">
        <h3>상담내용</h3>
        <hr>
        <table class="a" style="width: 98%; margin: 0 auto;">
            <tbody>
                <tr>
                    <td class="col-md-2">제목</td>
                    <td class="col-md-10" style="text-align: left;">상담제목란</td>
                </tr>
                <tr>
                    <td class="col-md-12" colspan="2">에디터영역</td>
                </tr>
                <tr>
                    <td colspan="2">상담내용란</td>
                </tr>
            </tbody>
        </table>
        <table class="b" style="width: 98%; margin: 10px auto; 0">
            <tbody>
                <tr>
                    <td class="col-md-2"  style="height: 40px;">비밀번호</td>
                    <td class="col-md-10" style="text-align: left; height: 40px;">
                        <input type="password" style="margin-left: 4px;" value="비밀번호">
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2"  style="height: 40px;">비밀글 설정</td>
                    <td class="col-md-10" style="text-align: left; height: 40px;">
                        <div style="width: 40%; margin-left: 5px;">
                            <input type="radio" name="che" id="public">
                            <label for="public">공개글</label>
                            <input type="radio" name="che" id="secret" style="margin-left: 30px;">
                            <label for="secret">비밀글</label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row" style="width: 98%; margin: 0 auto;">
            <button type="button" class="btn btn-primary col-md-2">목록</button>
            <div class="col-md-8"></div>
            <button type="button" class="btn btn-primary col-md-1">등록</button>
            <button type="button" class="btn btn-primary col-md-1">취소</button>
            <!-- <button class="col-md-2">목록</button>
            <div class="col-md-8"></div>
            <button class="col-md-1">등록</button>
            <button class="col-md-1">취소</button> -->
        </div>
        <br>

    </div>
</div>

<script>
    var nav_bar = document.getElementById("nav-category");
    // var nav_bar = document.getElementById("nav-user");
    nav_bar.classList.remove("d-none");
</script>
{% endblock %}