{% extends "base.html" %}
{% load mathfilters %}

{% block title %}
주문조회
{% endblock %}

{% block contents %}

<div class="container">
    <div class="row content">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light col-md-2" style="text-align:center;">
            <a href="/" class="d-flex align-items-center me-md-auto link-dark text-decoration-none">
            <svg class="" width="0" height="0"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4 d-flex mb-auto ">{#회원ID#}회원ID님</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto ">
                <li class="nav-item">
                    <a href="#" class="nav-link link-dark" aria-current="page">
                    <svg class="" width="0" height="0"><use xlink:href="#home"/></svg>
                    개인정보 수정
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link active">
                    <svg class="" width="0" height="0"><use xlink:href="#speedometer2"/></svg>
                    구매/배송 조회
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                    <svg class="" width="0" height="0"><use xlink:href="#table"/></svg>
                    선물함
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                    <svg class="" width="0" height="0"><use xlink:href="#grid"/></svg>
                    찜 목록
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                    <svg class="" width="0" height="0"><use xlink:href="#people-circle"/></svg>나의 상품 리뷰
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                    <svg class="" width="0" height="0"><use xlink:href="#people-circle"/></svg>고객센터 문의
                    </a>
                </li>
            </ul>
        </div>

            <h2>주문/배송 조회</h2>

    </div>
</div>


{% endblock %}