{% extends "base.html" %}
{% load mathfilters %}

{% block title %}
주문조회
{% endblock %}

{% block contents %}

<style>
    div.a {
        font-size: 10px;
    }

    div.b {
        text-align: center;
    }

    .pro_modi{
        float: left;
        width: 50%;
        color: white;
        line-height: 20px;
        margin: 23px 0 15px 2px;
        font-size: 1.1em;
    }
    .btn-close{
        float: right;
        height: 20px;
        line-height: 20px;
        margin: 13px 10px 20px;
        text-align: center;
    }
    .title{
        height: 8%;
    }
    .content > div > p {
        float: right;
        font-size: 0.8em;
    }
    .sub_title div{
        font-size: 15px;
        font-weight: bold;
    }
    .btn-close:hover,
    .btn-close:focus {
        color: rgb(146, 143, 143);
        text-decoration: none;
        cursor: pointer;
    }
    .prod{
        background: url(/static/img/cat.jpg) no-repeat;
        background-size: cover;
        height: 7em;
    }
    .modal-footer > button{
        background-color: rgb(119, 118, 177);
        border: none;
    }

    .modal-backdrop.show{
    }

    @media screen and (min-width: 600px) {
        .modal-dialog{
            max-width: 700px;
        }     
    }

    @media (max-width: 1280px) {
        .table{
            font-size: 0.7rem;
        }
        #findbtn, #mod_btn {
            font-size: 0.7rem !important;
        }
    }
</style>

<div class="col-md-10 container">
    <h2>주문/배송 조회</h2>
    <div>
        <table class="table table-bordered">
            <tr>
                <th style="width: 20%; text-align: center; vertical-align: middle;">
                    <h4>주문조회</h4>
                </th>
                <td style="width: 80%;">
                    <h6>&#9642;날짜검색</h6>
                    <div class="a">
                        <button class="btn btn-success btn-xs" type="button" style="font-size:10px;">오늘</button>
                        <button class="btn btn-success btn-xs" type="button" style="font-size:10px;">1주일</button>
                        <button class="btn btn-success btn-xs" type="button" style="font-size:10px;">1개월</button>
                        <button class="btn btn-success btn-xs" type="button" style="font-size:10px;">6개월</button>
                        <br><br>
                        <input type="text" maxlength="4" size="4">년&emsp;
                        <input type="text" maxlength="2" size="2">월&emsp;
                        <input type="text" maxlength="2" size="2">일 -
                        <input type="text" maxlength="4" size="4">년&emsp;
                        <input type="text" maxlength="2" size="2">월&emsp;
                        <input type="text" maxlength="2" size="2">일
                        <br><br>
                        <h6>&#9642;번호검색</h6>
                        <h7>주문번호: </h7><input type="text" maxlength="30" size="30">
                        <br><br>
                        <h6>&#9642;상품검색</h6>
                        <h7>상품명: </h7><input type="text" maxlength="30" size="30">
                        <br><br>
                        <div style="float: right;">
                            <button type="button" class="btn btn-primary btn-md" id="findbtn">찾기</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <h4>주문내역</h4>
    <div class="b table-responsive">
        <table class="table table-bordered" style="word-break: keep-all;">
            <thead>
                <tr>
                    <th>주문일자</th>
                    <th>주문번호</th>
                    <th>주문상품</th>
                    <th>주문금액</th>
                    <th>배송비</th>
                    <th>주문상태</th>
                    <th>확인/취소</th>
                    <th>리뷰쓰기</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range %}
                <tr>
                    <td>2022-04-01</td>
                    <td><a href="#" class="link-primary">01234fdsaf</a></td>
                    <td>제닉스 게이밍 의자</td>
                    <td>10,000</td>
                    <td>무료</td>
                    <td>배송중</td>
                    <td>취소불가</td>
                    <td><button type="button" class="btn btn-primary btn-xs" id="mod_btn" data-bs-target="#modify" data-bs-toggle="modal" data-bs-whatever="{{i}}">리뷰쓰기</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id="modify" class="modal">
    <div class="modal-content modal-dialog" style="width: 66%; margin: 5% auto; background-color: rgb(252, 252, 252);">
        <div class="title" style="border: none; background-color: rgb(119, 118, 177); margin-top: 0;">
            <h5 class="pro_modi col-10">상품리뷰 수정</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background: none; font-size: 30px; color: white;">&times;</button>
        </div>
        <div class="content row" style="width: 96%; margin: auto;">
            <div class="col-md-12" style="margin-bottom: -15px;"><p>조회수 : </p></div>
            <div class="col-md-12"><p>작성일 : </p></div>
            <div class="col-md-12 sub_title">
                <div class="row" style="width: 100%;">
                    <div class="col-md-3">구매상품</div>
                    <div class="col-md-3 prod"></div>
                    <div class="col-md-6">
                        <p style="margin-bottom: -0.03em; font-size: 12px;">상품이름 :</p>
                        <p style="margin-bottom: -0.03em; font-size: 12px;">옵션 :</p>
                        <textarea rows="3.8" style="width: 100%;"></textarea>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                    <div class="col-md-3">평점</div>
                    <div class="col-md-9">★★★★★</div>
                </div>
                <div class="row" style="margin-bottom: 2%;">
                    <div class="col-md-3">상세리뷰</div>
                    <textarea name="review" id="reivew" class="col-md-9"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" id = "close" class="btn btn-primary btn-sm col-md-4">취소</button>
            <button type="button" class="btn btn-primary btn-sm col-md-4">수정</button>
        </div>
    </div>
</div>


<script>
    var modi = document.getElementById('modify')
    var close = document.getElementById('close')
    var md = document.getElementsByClassName('modal-backdrop')

    modi.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        var Num = button.getAttribute('data-bs-whatever')
        var modalTitle = modi.querySelector('.pro_modi')

        modalTitle.textContent = (parseInt(Num)+1) + ' 번째 상품 리뷰작성'
    })

    var nav_bar = document.getElementById("nav-category");
    nav_bar.classList.remove("d-none");
</script>
{% endblock %}