{% extends "base.html" %}
{% load humanize %}

{% block title %}
주문하기
{% endblock %}

{% block nav %}
{% endblock %}

{% block stylesheet %}
{% load static %}
<link href="{% static 'css/purchase.css' %}" rel="stylesheet">
{% endblock %}
{% block contents %}

<div class="page col-md-12">
    <div class="purchase_title">
        <div class="d-flex">
            <div class="col-xxl-8 col-md-5 col-sm-5 ft-xxl">주문결제</div>
            <div class="col-xxl-4 col-md-7 col-sm-7 border text-center row order_procedure">
                <span class="col-sm-4 order_procedure_left">1.장바구니</span>
                <span class="col-sm-4 bg-black text-white y-border">2.주문결제</span>
                <span class="col-sm-4 order_procedure_right">3.주문완료</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="purchase_side col-md-9 col-sm-9">
        <!-- // 배송정보 HTML -->
        <div class="col-md-12 purchase_subtitle">배송정보</div>
        <div class="col-md-12 pad-10">
            <input type="radio" class="form-check-label tabs" name="add_type" onclick="openAd(event, 'default')" id="defaultOpen"> 기본배송지
            <input type="radio" class="form-check-label tabs" name="add_type" onclick="openAd(event, 'last')"> 최근배송지
            <input type="radio" class="form-check-label tabs" name="add_type" onclick="openAd(event, 'self')"> 직접입력
        </div>
        <form class="tabcontent" name="oFrm1" id="default" action="{% url 'order_purchase' product_id %}" method="POST">
            {% csrf_token %}
            <div class="col-md-12 pad-10">
                <input type="text" name="receiver_name" class="form-control" placeholder="받는사람"  value="홍길동" required>
            </div>

            <!-- // 주소 관련 HTML -->
            <div class="col-md-12 pad-5 d-flex">
                <input type="text" id=postcode class="form-control" placeholder="우편번호" value=13589 required>
                <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기">
            </div>
            <div class="col-md-12 pad-5">
                <input type="text" name="delivery_address" id="delivery_address" class="form-control" placeholder="주소" value="경기" required>
            </div>
            <div class="col-md-12 pad-5">
                <input type="text" name="detail_address" id="detailAddress" class="form-control" placeholder="상세주소 및 상세건물명" value="1동 101호" required>
            </div>

            <!-- // 상세정보 HTML -->
            <div class="d-flex col-md-12 pad-5">
                <select class="form-select" name="phone_firstNum" id="phone_firstNum" style="width: 200px;">
                    <option value="010" selected>010</option>
                    <option value="011">011</option>
                    <option value="012">012</option>
                    <option value="018">018</option>
                    <option value="019">019</option>
                </select>
                <input type="text" maxlength="4" name="phone_secondNum" class="form-control" placeholder="휴대폰앞자리" value="1234" required>
                <input type="text" maxlength="4" name="phone_threeNum" class="form-control" placeholder="휴대폰뒷자리" value="5678" required>
            </div>

            <div class="col-md-12 pad-5">
                <select class="form-select" name="select_list" id="select_list">
                    <option value="1" selected>배송시 요청사항 선택하기</option>
                    <option value="2">부재시 전화/문자주세요</option>
                    <option value="3">집 앞에 놓고가주세요</option>
                    <option value="4">경비실에 맡겨주세요</option>
                    <option value="5">택배함에 넣어주세요</option>
                </select>
            </div>
        </form>
        <!-- <form class="tabcontent" name="pFrm2" id="last" action="{% url 'order_purchase' product_id %}" method="POST">
            {% csrf_token %}
            <div class="col-md-12 pad-10">
                <input type="text" name="receiver_name" class="form-control" placeholder="받는사람" required>
            </div>

            // 주소 관련 HTML
            <div class="col-md-12 pad-5 d-flex">
                <input type="text" id=postcode class="form-control" placeholder="우편번호" required>
                <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기">
            </div>
            <div class="col-md-12 pad-5">
                <input type="text" name="delivery_address" id="address" class="form-control" placeholder="주소" required>
            </div>
            <div class="col-md-12 pad-5">
                <input type="text" name="detail_address" id="detailAddress" class="form-control" placeholder="상세주소 및 상세건물명" required>
            </div>

            // 상세정보 HTML
            <div class="d-flex col-md-12 pad-5">
                <select class="form-select" name="phone_firstNum" id="phone_firstNum" style="width: 200px;">
                    <option value="010" selected>010</option>
                    <option value="011">011</option>
                    <option value="012">012</option>
                    <option value="018">018</option>
                    <option value="019">019</option>
                </select>
                <input type="text" maxlength="4" name="phone_secondNum" class="form-control" placeholder="휴대폰앞자리" required>
                <input type="text" maxlength="4" name="phone_threeNum" class="form-control" placeholder="휴대폰뒷자리" required>
            </div>

            <div class="col-md-12 pad-5">
                <select class="form-select" name="select_list" id="select_list">
                    <option value="1" selected>배송시 요청사항 선택하기</option>
                    <option value="2">부재시 전화/문자주세요</option>
                    <option value="3">집 앞에 놓고가주세요</option>
                    <option value="4">경비실에 맡겨주세요</option>
                    <option value="5">택배함에 넣어주세요</option>
                </select>
            </div>
        </form>
        <form class="tabcontent" name="pFrm3" id="self" action="{% url 'order_purchase' product_id %}" method="POST">
            {% csrf_token %}
            <div class="col-md-12 pad-10">
                <input type="text" name="receiver_name" class="form-control" placeholder="받는사람" required>
            </div>

            // 주소 관련 HTML
            <div class="col-md-12 pad-5 d-flex">
                <input type="text" id=postcode class="form-control" placeholder="우편번호" required>
                <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기">
            </div>
            <div class="col-md-12 pad-5">
                <input type="text" name="delivery_address" id="address" class="form-control" placeholder="주소" required>
            </div>
            <div class="col-md-12 pad-5">
                <input type="text" name="detail_address" id="detailAddress" class="form-control" placeholder="상세주소 및 상세건물명" required>
            </div>

            // 상세정보 HTML
            <div class="d-flex col-md-12 pad-5">
                <select class="form-select" name="phone_firstNum" id="phone_firstNum" style="width: 200px;">
                    <option value="010" selected>010</option>
                    <option value="011">011</option>
                    <option value="012">012</option>
                    <option value="018">018</option>
                    <option value="019">019</option>
                </select>
                <input type="text" maxlength="4" name="phone_secondNum" class="form-control" placeholder="휴대폰앞자리" required>
                <input type="text" maxlength="4" name="phone_threeNum" class="form-control" placeholder="휴대폰뒷자리" required>
            </div>

            <div class="col-md-12 pad-5">
                <select class="form-select" name="select_list" id="select_list">
                    <option value="1" selected>배송시 요청사항 선택하기</option>
                    <option value="2">부재시 전화/문자주세요</option>
                    <option value="3">집 앞에 놓고가주세요</option>
                    <option value="4">경비실에 맡겨주세요</option>
                    <option value="5">택배함에 넣어주세요</option>
                </select>
            </div>
        </form> -->
            <!-- // 상품 이미지 등 상세정보 HTML -->
            <div class="col-md-12 purchase_subtitle">주문상품</div>
            <div class="col-md-12">
                <div class="product col-md-12 d-flex">
                    <div class="col-md-3 outer">
                        
                        <img src="{{ prod.image }}"
                        alt="">
                    </div>
                    <div class="col-md-5 outer">
                        <div class="inner">상품명{{prod.name | striptags}}</div>
                    </div>
                    <div class="col-md-4 outer">
                        <div class="inner_2">{{ item.quantity }}개</div>
                        <div class="inner_2">상품 판매금액<br>{{ prod.price|intcomma }}원</div>
                    </div>
                </div>
            </div>
        <!-- // 결제정보 HTML -->
        <div class="col-md-12 purchase_subtitle">결제정보</div>
        <div class="col-md-12 pad-10">
            <input type="radio" class="form-check-label" name="purchase_type" checked> 현금결제
            <input type="radio" class="form-check-label" name="purchase_type"> 카드
            <input type="radio" class="form-check-label" name="purchase_type"> 무통장입금
        </div>
        <div class="d-flex justify-content-center p-3">
            <button class="btn btn-danger col-md-1 mx-3" onclick="cancel()" style="width: 100px;">취소하기</button>
        </div>
    </div>
    <div class="order_side col-md-3 col-sm-3">
        <div class="order_sticky">
            <div class="order_amount">
                <div class="order_title">
                    <h4 class="order_subtitle"></h4>
                </div>
                <div class="order_total_price">
                    <h4 class="txt_total">총 비용</h4>
                    <span class="price">
                        <em class="number" id="CalcAmountInDsc">{{ sum }}</em>원
                    </span>
                </div>
            </div>
            <p class="order_text_agree">하기 필수약관을 확인하였으며 결제에 동의합니다.</p>
            <div class="order_button">
                <button type="button" id="btnAccount" class="btn_purple"
                    onclick="goKakao1()">
                    <em class="number" id="FinalOrderPrice"></em>{{ sum }}원 결제하기
                </button>
                <!-- <button type="button" id="btnAccount" class="btn_purple"
                    onclick="goKakao2()">
                    <em class="number" id="FinalOrderPrice"></em>{{ sum }}원 결제하기
                </button>
                <button type="button" id="btnAccount" class="btn_purple"
                    onclick="goKakao3()">
                    <em class="number" id="FinalOrderPrice"></em>{{ sum }}원 결제하기
                </button> -->
            </div>
        </div>
    </div>
</div>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="{% static 'js/sticky.js' %}">
    var nav_bar = document.getElementById("nav-category");
    nav_bar.classList.remove("d-none");
</script>
<script>
    function openAd(evt, address) {
        var i, tabcontent, tabs;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tabs = document.getElementsByClassName("tabs");
        for (i = 0; i < tabs.length; i++) {
            tabs[i].className = tabs[i].className.replace(" active", "");
        }
        document.getElementById(address).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();



    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                var addr = '';
                var extraAddr = '';

                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }

                if (data.userSelectedType === 'R') {
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if (extraAddr !== '') {
                        extraAddr = ' (' + extraAddr + ')';
                    }
                }


                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("delivery_address").value = addr;

                document.getElementById("detailAddress").focus();
            }
        }).open();
    }

    function goKakao1(){
        document.forms['oFrm1'].submit();
    }
    // function goKakao2(){
    //     document.forms['pFrm2'].submit();
    // }
    // function goKakao3(){
    //     document.forms['pFrm3'].submit();
    // }
    
    function cancel() {
        location.href= "{% url 'order_cancel' %}"
    }
</script>
{% endblock %}