{% extends "base.html" %}

{% block title %}
주문하기
{% endblock %}

{% block nav %}
{% endblock %}

{% block stylesheet %}
{% load static %}
<link href="{% static 'css/purchase.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}

<div class="page col-md-12">
    <div class="purchase_title">
        <div class="d-flex">
            <div class="col-xxl-8 col-md-5 col-sm-5 ft-xxl">주문결제</div>
            <div class="col-xxl-4 col-md-7 col-sm-7 border text-center row order_procedure">
                <span class="col-sm-4 order_procedure_left">1.장바구니</span>
                <span class="col-sm-4 bg-black text-white y-border">2.주문결제</span>
                <span class="col-sm-4 order_procedure_right">3.주문완료</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="purchase_side col-md-9 col-sm-9">
        <!-- // 배송정보 HTML -->
        <div class="col-md-12 purchase_subtitle">배송정보</div>
        <div class="col-md-12 pad-10">
            <input type="radio" class="form-check-label" name="add_type" checked> 기본배송지
            <input type="radio" class="form-check-label" name="add_type"> 최근배송지
            <input type="radio" class="form-check-label" name="add_type"> 직접입력
        </div>
        <div class="col-md-12 pad-10">
            <input type="text" class="form-control" placeholder="받는사람">
        </div>

        <!-- // 주소 관련 HTML -->
        <div class="col-md-12 pad-5">
            <input type="text" class="form-control" placeholder="기본주소">
        </div>
        <div class="col-md-12 pad-5">
            <input type="text" class="form-control" placeholder="상세주소 및 상세건물명">
        </div>

        <!-- // 상세정보 HTML -->
        <div class="d-flex col-md-12 pad-5">
            <select class="form-select" name="phone_firstNum" id="phone_firstNum" style="width: 200px;">
                <option value="010" selected>010</option>
                <option value="011">011</option>
                <option value="012">012</option>
                <option value="018">018</option>
                <option value="019">019</option>
            </select>
            <input type="text" class="form-control" placeholder="휴대폰앞자리">
            <input type="text" class="form-control" placeholder="휴대폰뒷자리">
        </div>

        <div class="col-md-12 pad-5">
            <select class="form-select" name="phone_firstNum" id="phone_firstNum">
                <option value="1" selected>배송시 요청사항 선택하기</option>
                <option value="2">부재시 전화/문자주세요</option>
                <option value="3">집 앞에 놓고가주세요</option>
                <option value="4">경비실에 맡겨주세요</option>
                <option value="5">택배함에 넣어주세요</option>
            </select>
        </div>
        <!-- // 상품 이미지 등 상세정보 HTML -->
        <div class="col-md-12 purchase_subtitle">주문상품</div>
        <div class="col-md-12">
            {% for i in items %}
            <div class="product col-md-12 d-flex">
                <div class="col-md-3 outer">
                    {# 상품이미지 #}
                    <img src="https://cdn.011st.com/11dims/resize/560x560/quality/75/11src/pd/22/2/6/4/0/0/9/vNTAr/3718264009_B.jpg" alt="">
                </div>
                <div class="col-md-5 outer">
                    <div class="inner">상품명{# 상품명 #}</div>
                    <div class="inner">상품옵션{# 상품옵션 #}</div>
                </div>
                <div class="col-md-4 outer">
                    <div class="inner_2">%개{# 정가 #}</div>
                    <div class="inner_2">판매금액{# 판매금액 #}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- // 결제정보 HTML -->
        <div class="col-md-12 purchase_subtitle">결제정보</div>
        <div class="col-md-12 pad-10">
            <input type="radio" class="form-check-label" name="purchase_type" checked> 현금결제
            <input type="radio" class="form-check-label" name="purchase_type"> 카드
            <input type="radio" class="form-check-label" name="purchase_type"> 무통장입금
        </div>
        <div class="d-flex justify-content-center p-3">
            <button class="btn btn-primary col-md-1 mx-3" style="width: 100px;">주문하기</button>
            <button class="btn btn-danger col-md-1 mx-3" style="width: 100px;">취소하기</button>
        </div>
    </div>
    <div class="order_side col-md-3 col-sm-3">
        <div class="order_sticky">
            <div class="order_amount">
                <div class="order_title">
                    <h4 class="order_subtitle">결제 예정금액</h4>
                </div>
                <div class="order_total_price">
                    <h4 class="txt_total">합계</h4>
                    <span class="price">
                        <em class="number" id="CalcAmountInDsc"></em>원
                    </span>
                </div>
            </div>
            <p class="order_text_agree">하기 필수약관을 확인하였으며 결제에 동의합니다.</p>
            <div class="order_button">
                <button type="button" id="btnAccount" class="btn_purple" onclick="location.href='{% url 'order_success' %}'">
                    <em class="number" id="FinalOrderPrice"></em>원 결제하기
                </button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/sticky.js' %}">
    var nav_bar = document.getElementById("nav-category");
    nav_bar.classList.remove("d-none");
</script>
{% endblock %}