* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Helvetica Neue", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", "돋움", dotum, sans-serif;
    list-style-type: none;
}

.page {
    position: relative;
}

.cart_title {
    margin: 30px 0; 
    height: 40px; 
    line-height: 40px;
}

.ft-xxl {
    font-size:xx-large
}

.order_procedure {
    border-radius:15px; 
    font-size: 13px;
    font-weight: bold;
}

.order_procedure_left {
    border-top-left-radius : 15px; 
    border-bottom-left-radius: 15px;
}
.order_procedure_right {
    border-top-right-radius : 15px; 
    border-bottom-right-radius: 15px;
}

.y-border { 
    border: 1px solid gainsboro;
    border-width: 0 1px;
}

.cart_side {
    padding-right: 40px;
}

.cart_subtitle {
    padding-left: 10px;
    margin: 40px 0 0 0;
    height: 5vh;
    font-size: x-large;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.product_form {
    border: 1px solid rgb(235, 235, 235);
    border-width: 1px 0;
    padding: 0 16px;
}

.product_form:first-of-type {
    border-width: 0 0 1px 0;
}

.product_form:last-of-type {
    border-width: 1px 0 0 0;
}

.btn-cancel {
    border: 1px solid red;
    color: red;
}

.btn-cancel:hover {
    color: orange;
}

.product {
    height: 15vh;
}

.outer {
    display: table;
    vertical-align: middle;
}

.inner {
    padding: 20px;
}

.inner_2 {
    margin: 10px;
    transform: translateY(20%);
}

.product > div:nth-of-type(2), div:nth-of-type(3) {
    border: 1px solid rgb(235, 235, 235);
    border-width: 0 1px;
}

.product > div > img {
    padding: 10px;
    width: 100%;
    transform: translateY(6%);
}

.recommend_container {
    margin-bottom: 250px;
}

.recommend_product {
    margin-top: 10px;
    border: 1px solid rgb(235, 235, 235);
    border-width: 0 0 1px 0
}

.order_side {
    position: absolute;
    top: 11%;
    right: 0;
    z-index: 1;
    width: 300px;
    padding: 10px;
    background-color: #fff;
}

.order_side .order_sticky {
    background-color: #fff;
    height: 300px;
    padding-top: 30px;
}

.order_side .order_sticky.is_fixed {
    top: 0;
    position: fixed;
    z-index: 1100;
    background-color: #fff;
}

.order_title {
    width: 100%;
    height: 28px;
    zoom: 1;
}

.order_subtitle {
    float: left;
    font-size: 19px;
    line-height: 28px;
}

.order_total_price {
    position: relative;
    margin-top: 50px;
    padding-bottom: 10px;
}

.order_total_price .txt_total {
    position: absolute;
    left: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 22px;
    color: #4f008a;
}

.order_total_price .price {
    display: block;
    padding-left: 40px;
    font-size: 15px;
    color: #4f008a;
    text-align: right;
}

.order_total_price .price .number {
    display: inline-block;
    margin-right: 3px;
    font-size: 34px;
    font-weight: bold;
    line-height: 41px;
    vertical-align: -3px;
}

.order_text_agree {
    width: 100%;
    padding-top: 27px;
    border-top: 1px dashed #ddd;
    font-size: 14px;
    color: #666;
    letter-spacing: -1px;
}

.order_button {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 64px;
    padding-top: 25px;
    padding-bottom: 23px;
}

.btn_purple {
    position: relative;
    display: block;
    width: 100%;
    height: 64px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    color: #fff;
    background: #4f008a;
    background: -webkit-gradient(linear, left top, right top, from(#4f008a), color-stop(45%, #5b00a0), to(#6800b8));
    background: -webkit-linear-gradient(left, #4f008a 0%, #5b00a0 45%, #6800b8 100%);
    background: linear-gradient(to right, #4f008a 0%, #5b00a0 45%, #6800b8 100%);
    -webkit-box-shadow: 0 8px 8px 0 #bc69fc;
    box-shadow: 0 8px 8px 0 #bc69fc;
}

.order_button .number {
    font-size: 19px;
    font-weight: bold;
}

.order_agree .order_low {
    position: relative;
    margin-top: 12px;
}

.order_agree .order_low .low_tit {
    position: relative;
    padding-right: 15px;
    padding-bottom: 5px;
}

.order_agree .order_low .low_tit p {
    width: 100%;
    font-size: 15px;
    line-height: 22px;
    color: #666;
    text-align: left;
    letter-spacing: -0.5px;
}

.order_agree .order_low .low_cont {
    display: block;
    margin: 10px 6px 10px 5px;
}

.order_agree .order_low .id_agrmt {
    overflow: auto;
    overflow-x: hidden;
    font-size: 11px;
    width: 100%;
    height: 88px;
    border: 1px solid #d8dce5;
}

