{% extends "base.html" %}

{% block title %}
장바구니
{% endblock %}

{% block contents %}
<div class="border container mt-5">
    <div class="border container row justify-content-end p-3">
        <div class="border col-md-3 d-flex justify-content-center">
            <span class="border bg-black text-white">장바구니</span>>
            <span class="border bg-secondary text-white">주문결제</span>>
            <span class="border bg-secondary text-white">주문완료</span>
            </div>
            <div class="border row">
                <div class="border col-md-6">주문상품</div>
                <div class="border col-md-3">금액</div>
                <div class="border col-md-3">수량</div>
            </div>
    </div>
    <div class="border container p-3">
        {% if items == zero %}
        <div class="border justify-content-center">
            <div class="border text-center p-5 m-5">
                장바구니가 비었습니다.
            </div>
        </div>
        {% else %}
        {% for i in items %}
        <form action="#" method="POST">
            <div class="border row m-2">
                <div class="border col-md-1 bg-primary text-white p-2">상품이미지{# 상품이미지 #}
                    <img src="#" alt="">
                </div>
                <div class="border col-md-5">
                    <div class="border col-md-12 m-2">상품명{{ product_name }}</div>
                    <div class="border col-md-12 m-2">상품옵션{# 상품옵션 #}</div>
                </div>
                <div class="border col-md-3">
                    <div class="border m-2">정가{{ product_price }}</div>
                    <div class="border m-2">판매금액{# 판매금액 #}</div>
                </div>
                <div class="border col-md-3 text-center p-2">
                    <input type="number" class="border m-1" placeholder="수량">
                    <button type='button' class="btn btn-danger m-1">취소하기</button>
                </div>
            </div>
        </form>
        {% endfor %}
        {% endif %}
    </div>
    <div class="border row justify-content-center p-3">
        <button class="btn btn-primary col-md-1">주문하기</button>
    </div>
    <div class="border container p-3">추천상품
        <div class="border row  justify-content-around p-3">
            <div class="border col-md-2 p-1">
                <img class="col-md-12" src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/dl/22/3/9/4/9/5/1/ZkDhq/2868394951_139190870_05.jpg" alt="">
            </div>
            <div class="border col-md-2 p-1">
                <img class="col-md-12" src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/dl/22/3/9/4/9/5/1/ZkDhq/2868394951_139190870_05.jpg" alt="">
            </div>
            <div class="border col-md-2 p-1">
                <img class="col-md-12" src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/dl/22/3/9/4/9/5/1/ZkDhq/2868394951_139190870_05.jpg" alt="">
            </div>
            <div class="border col-md-2 p-1">
                <img class="col-md-12" src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/dl/22/3/9/4/9/5/1/ZkDhq/2868394951_139190870_05.jpg" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}