{% extends "base.html" %}

{% block title %}
장바구니
{% endblock %}

{% block nav %}
{% endblock %}

{% block contents %}
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Noto Sans KR", "Helvetica Neue", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", "돋움", dotum, sans-serif;
    }

    .cart_title {
        margin: 30px 0; 
        height: 40px; 
        line-height: 40px;
    }

    .ft-xxl {
        font-size:xx-large
    }

    .order_procedure {
        border-radius:15px; 
        font-size: 13px;
        font-weight: bold;
    }

    .order_procedure_left {
        border-top-left-radius : 15px; 
        border-bottom-left-radius: 15px;
    }
    .order_procedure_right {
        border-top-right-radius : 15px; 
        border-bottom-right-radius: 15px;
    }

    .y-border { 
        border: 1px solid gainsboro;
        border-width: 0 1px;
    }

    .cart_subtitle {
        padding-left: 10px;
        margin: 40px 0 0 0;
        height: 5vh;
        font-size: x-large;
        border-bottom: 1px solid rgb(240, 240, 240);
    }

    .product_form {
        border: 1px solid rgb(240, 240, 240);
        border-width: 1px 0;
        padding: 0 16px;
    }

    .product_form:first-of-type {
        border-width: 0 0 1px 0;
    }

    
    .product_form:last-of-type {
        border-width: 1px 0 0 0;
    }

    .cart_product {
        height: 15vh;
    }

    .cart_product > div {
        display: table-cell;
        vertical-align: middle;
    }

    .cart_product > div:nth-of-type(2), div:nth-of-type(3) {
        border: 1px solid rgb(240, 240, 240);
        border-width: 0 1px;
    }
</style>

<script>
    var nav_bar = document.getElementById("nav-category");
    nav_bar.classList.remove("d-none");
</script>

<div class="col-md-12">
    <div class="cart_title">
        <div class="d-flex">
            <div class="col-md-9 ft-xxl">주문결제</div>
            <div class="col-md-3 border text-center row order_procedure">
                <span class="col-md-4 bg-black text-white order_procedure_left">1.장바구니</span>
                <span class="col-md-4 y-border">2.주문결제</span>
                <span class="col-md-4">3.주문완료</span>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="col-md-9 pe-3">
    <div class="d-flex col-md-12 cart_subtitle">
        <span class="col-md-5">주문상품</span>
        <span class="col-md-4 ps-5">금액</span>
        <span class="col-md-3">수량</span>
    </div>
    {% if items == zero %}
    <div class="col-md-12 border justify-content-center">
        <div class="border text-center p-5 m-5">
            장바구니가 비었습니다.
        </div>
    </div>
    {% else %}
    {% for i in items %}
    <form class="product_form" action="#" method="POST">
        <div class="d-flex col-md-12 cart_product">
            <div class="col-md-1 bg-success text-white" style="width: 64px; height: 64px; margin: 10px;">
                {# 상품이미지 #}
                <img src="#" alt="">
            </div>
            <div class="col-md-5">
                <div>상품명{{ product_name }}</div>
            </div>
            <div class="col-md-3">
                <div>정가{{ product_price }}</div>
                <div>판매금액{# 판매금액 #}</div>
            </div>
            <div class="col-md-3 text-center p-2">
                <input type="number" class="col-md-5 m-1" placeholder="수량">
                <button type='button' class="btn btn-danger m-1">취소하기</button>
            </div>
        </div>
    </form>
    {% endfor %}
    {% endif %}
    <hr style="margin: 0;">
    <div class="col-md-12 cart_subtitle">추천상품
        <div class="d-flex pad-10 col-md-12">
            <div class="col-md-3">
                <img class="col-md-12 p-5"
                    src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/dl/22/3/9/4/9/5/1/ZkDhq/2868394951_139190870_05.jpg"
                    alt="">
            </div>
            <div class="col-md-3">
                <img class="col-md-12 p-5"
                    src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/dl/22/3/9/4/9/5/1/ZkDhq/2868394951_139190870_05.jpg"
                    alt="">
            </div>
            <div class="col-md-3">
                <img class="col-md-12 p-5"
                    src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/dl/22/3/9/4/9/5/1/ZkDhq/2868394951_139190870_05.jpg"
                    alt="">
            </div>
            <div class="col-md-3">
                <img class="col-md-12 p-5"
                    src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/dl/22/3/9/4/9/5/1/ZkDhq/2868394951_139190870_05.jpg"
                    alt="">
            </div>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary">주문하기</button>
    </div>
</div>
{% endblock %}
