{% extends "base.html" %}

{% block title %}
주문하기
{% endblock %}

{% block nav %}
{% endblock %}

{% block contents %}
<style>

</style>

<!-- // 주문 단계 표시 HTML -->
<div class="col-md-12" style="margin: 30px 0; height: 40px; line-height: 40px;">
    <div class="col-md-12 d-flex">
        <div class="col-md-9" style="font-size:xx-large">주문결제</div>
        <div class="col-md-3 border text-center row" style="border-radius:15px; width: 26%;">
            <span class="col-md-4" style="border-top-left-radius : 15px; border-bottom-left-radius: 15px;">상품선택</span>
            <span class="col-md-4 bg-black text-white" >주문결제</span>
            <span class="col-md-4" style="border-top-right-radius : 15px; border-bottom-right-radius: 15px;">주문완료</span>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-9">
        <div class="col-md-12" >
            <div class="col-md-12 title" style="font-size:x-large">배송정보</div>
            <div class="col-md-12 border row pad-10 mt-5" style="border-radius:15px;">
                <div class="col-md-6">
                    <img src="https://cdn.011st.com/browsing/space/banner/2022/3/23/2203232027306501315_742.png" alt="">
                </div>
                <div class="col-md-6">
                    <div>
                        <h3>선물 받는 사람</h3>
                        <dl>
                            <dt>선물 받는분에게 배송지 입력을 위한 문자메세지가 발송됩니다</dt>
                            <dd>
                                <dt><input type="text" placeholder="받는 사람"></dt>
                            </dd>
                            <dd>
                                <dt><input type="text" placeholder="휴대폰번호"></dt>
                            </dd>
                            <dd>
                                <dt><input type="text" placeholder="메세지 내용 입력"></dt>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12 title">
                <span style="font-size:x-large;">주문상품</span>
                <span>상품수량 및 옵션변경 상품상세 또는 장바구니에서 가능합니다</span>
            </div>
            <div class="col-md-12">판매자이름</div>
            {% for i in items %}
            <div class="col-md-12 d-flex flex-row">
                <div class="col-md-2">
                    <img src="https://cdn.011st.com/11dims/thumbnail/120x120/11src/pd/21/4/1/8/5/1/2/OhMDg/2014418512_L300.jpg" alt="">
                </div>
                <div class="col-md-5">
                    <div>상품이름</div>
                    <div>상품옵션</div>
                </div>
                <div class="col-md-1">수량</div>
                <div class="col-md-2">가격</div>
                <div class="col-md-2">배송비</div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-12">
            <div class="col-md-12 title">결제방법</div>
            <div></div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12 title">결제방식</div>
            <div></div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12 title">할부방식</div>
            <div></div>
        </div>
    </div>
    <!-- 결제창 fixed -->
    <div class="col-md-3 border">
        <div class="col-md-12">
            <div style="height: 200px; position:sticky;">
                <div>결제예정금액</div>
                <div>
                    <dl></dl>
                    <div></div>
                </div>
            </div>
            <hr>
            <p>하기 필수약관을 확인하였으며 결제에 동의합니다.</p>
            <div>
                <button>(해당가격)원 결제하기</button>
            </div>
            </div>
        <div class="col-md-12">이용약관

        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock %}