{% extends "base.html" %}

{% block title %}
주문하기
{% endblock %}

{% block stylesheet %}
{% load static %}
<link href="{% static 'Jun/css/present.css' %}" rel="stylesheet">
<script src="{% static 'Jun/js/present.js' %}"></script>
{% endblock %}

{% block nav %}
{% endblock %}

{% block contents %}
<script>
    var nav_bar = document.getElementById("nav-category");
    nav_bar.classList.remove("d-none");
</script>

<!-- // 주문 단계 표시 HTML -->
<div class="col-md-12" style="margin: 30px 0; height: 40px; line-height: 40px;">
    <div class="col-md-12 d-flex">
        <div class="col-md-9" style="font-size:xx-large">주문결제</div>
        <div class="col-md-3 border text-center row" style="border-radius:15px; width: 26%;">
            <span class="col-md-4" style="border-top-left-radius : 15px; border-bottom-left-radius: 15px;">상품선택</span>
            <span class="col-md-4 bg-black text-white">주문결제</span>
            <span class="col-md-4" style="border-top-right-radius : 15px; border-bottom-right-radius: 15px;">주문완료</span>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12 title" style="font-size:x-large">배송정보</div>
            <!-- 선물하기 테마 -->
            <div class="order_gift_theme">
                <!-- 선물하기 메세지 -->
                <div class="gift_message border mt-5">
                    <!-- 선물하기 이미지 -->
                    <div class="gift_image">
                        <p>
                            <img class="gift_img" src="" alt="">
                        </p>
                    </div>
                    <!-- 선물 메세지폼 -->
                    <div class="gift_form">
                        <h3 class="subject">선물 받는 사람</h3>
                        <dl>
                            <dt>"선물 받는 분에게 배송지 입력을 위한 '<strong>문자메세지가 발송</strong>'됩니다.</dt>
                            <dd><input type="text" placeholder="받는 사람">
                            <dt></dt>
                            </dd>
                            <dd><input type="tel" placeholder="- 없이 휴대폰번호 입력">
                            <dt></dt>
                            </dd>
                            <dd>
                                <div class="box_message">
                                    <textarea class="gift_textarea" rows="4" cols="50" placeholder="메세지 내용 입력"></textarea>
                                </div>
                            <dt></dt>
                            </dd>
                        </dl>
                    </div>
                </div>
                <!-- 선물하기 테마고르기 -->
                <div class="select_theme col-md-12 mt-5">
                    <h3><strong>메시지 테마</strong>를 선택해주세요.</h3>
                    <!-- inner -->
                    <div class="inner">
                        <div class="tab__container tab_item tab_gift_theme">
                            <!-- tab item -->
                            <ul class="tab__list col-md-12 d-flex flex-wrap p-0" role="tablist">
                                <li id="tab-button-1" class="tab__button" role="tab" aria-controls="tab-panel-1">
                                    <button type="button" class="btn btn-white w-100 border " style="height: 50px;">
                                        감사
                                    </button>
                                </li>
                                <li id="tab-button-2" class="tab__button" role="tab" aria-controls="tab-panel-2">
                                    <button type="button" class="btn btn-white border w-100" style="height: 50px;">
                                        축하
                                    </button>
                                </li>
                                <li id="tab-button-3" class="tab__button" role="tab" aria-controls="tab-panel-3">
                                    <button type="button" class="btn btn-white border w-100" style="height: 50px;">
                                        사랑
                                    </button>
                                </li>
                                <li id="tab-button-4" class="tab__button" role="tab" aria-controls="tab-panel-4">
                                    <button type="button" class="btn btn-white border w-100" style="height: 50px;">
                                        격려
                                    </button>
                                </li>
                            </ul>

                            <!-- tab content -->
                            <div id="tab-panel-1" class="tab__panel" role="tabpanel" aria-labelledby="tab-button-1">
                                <div class="message_select">
                                    <div class="swiper-container w-100">
                                        <ul class="swiper-wrapper message_list d-flex flex-wrap">
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="설렘 가득한 봄을 선물합니다!"
                                                        data-background-color="#DEF596" data-font-color="#111111"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/23/2203232027306501315_742.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/23/2203232027332401315_768.png"
                                                            alt="설렘 가득한 봄을 선물합니다!">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="Thank You"
                                                        data-background-color="#f7eae0" data-font-color="#111111"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/15/2203152132232501315_614.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/15/2203152132256901315_568.png"
                                                            alt="Thank You">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="정말고마워"
                                                        data-background-color="#ffdb2c" data-font-color="#111111"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/15/2203152132460101315_615.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/15/2203152132487701315_569.png"
                                                            alt="정말고마워">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="감사해요" data-background-color="#ff614c"
                                                        data-font-color="#ffffff"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/15/2203152133054501315_570.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/15/2203152133078101315_616.png"
                                                            alt="감사해요">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="건강하세요"
                                                        data-background-color="#28ce9d" data-font-color="#ffffff"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/15/2203152133239201315_571.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/15/2203152135364501315_574.png"
                                                            alt="건강하세요">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="늘 고마워!"
                                                        data-background-color="#7accae" data-font-color="#ffffff"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/23/2203232027306501315_742.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/15/2203152133531201315_572.png"
                                                            alt="늘 고마워!">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="건강이 최고!"
                                                        data-background-color="#7ac0f2" data-font-color="#ffffff"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/15/2203152134120701315_605.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/15/2203152134161101315_573.png"
                                                            alt="건강이 최고!">
                                                    </span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-panel-2" class="tab__panel" role="tabpanel" aria-labelledby="tab-button-2"
                                hidden>
                                <div class="message_select">
                                    <div class="swiper-container w-100">
                                        <ul class="swiper-wrapper message_list d-flex flex-wrap">
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="축하합니다"
                                                        data-background-color="#9dcde2" data-font-color="#ffffff"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171510348701315_652.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171510377701315_653.png"
                                                            alt="축하합니다">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="HAPPY DAY&nbsp;"
                                                        data-background-color="#aec5e9" data-font-color="#ffffff"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171511254401315_674.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171511286601315_623.png"
                                                            alt="HAPPY DAY&nbsp;">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="생일축하해"
                                                        data-background-color="#ff614c" data-font-color="#ffffff"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171512014101315_675.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171512047701315_624.png"
                                                            alt="생일축하해">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="생일축하해"
                                                        data-background-color="#202c3e" data-font-color="#ffffff"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171512352501315_676.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171512382301315_677.png"
                                                            alt="생일축하해">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="반가워" data-background-color="#fe90ab"
                                                        data-font-color="#ffffff"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171513244801315_625.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171513267901315_655.png"
                                                            alt="반가워">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="HAPPY BIRTHDAY"
                                                        data-background-color="#8b8cfe" data-font-color="#ffffff"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171514025001315_678.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171514049301315_679.png"
                                                            alt="HAPPY BIRTHDAY">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="CONGRATULATION"
                                                        data-background-color="#ff6f61" data-font-color="#ffffff"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171514504201315_656.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/25/2203251539056101315_818.png"
                                                            alt="CONGRATULATION">
                                                    </span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-panel-3" class="tab__panel" role="tabpanel" aria-labelledby="tab-button-3"
                                hidden>
                                <div class="message_select">
                                    <div class="swiper-container w-100">
                                        <ul class="swiper-wrapper message_list d-flex flex-wrap">
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="꽃길만 걷게해줄게요"
                                                        data-background-color="#e6e0c9" data-font-color="#111111"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171515510901315_627.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171516144201315_657.png"
                                                            alt="꽃길만 걷게해줄게요">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="You're beautiful"
                                                        data-background-color="#efe8f2" data-font-color="#111111"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171519138601315_658.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171519170501315_659.png"
                                                            alt="You're beautiful">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="I love you"
                                                        data-background-color="#c0bcdd" data-font-color="#ffffff"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171544428501315_680.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171544481101315_660.png"
                                                            alt="I love you">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="좋아해" data-background-color="#28ce9d"
                                                        data-font-color="#111111"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171545462101315_661.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171545494201315_681.png"
                                                            alt="좋아해">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="내가선물이야"
                                                        data-background-color="#fe90ab" data-font-color="#ffffff"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171546386201315_662.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171546416001315_629.png"
                                                            alt="내가선물이야">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="너는특별해"
                                                        data-background-color="#4e59ff" data-font-color="#ffffff"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171547586801315_682.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171550084101315_683.png"
                                                            alt="너는특별해">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="언제나 사랑해"
                                                        data-background-color="#f3c6c5" data-font-color="#111111"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171551311901315_630.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171551339901315_631.png"
                                                            alt="언제나 사랑해">
                                                    </span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-panel-4" class="tab__panel" role="tabpanel" aria-labelledby="tab-button-4"
                                hidden>
                                <div class="message_select">
                                    <div class="swiper-container w-100">
                                        <ul class="swiper-wrapper message_list d-flex flex-wrap">
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="다 잘 될거에요!"
                                                        data-background-color="#eeece9" data-font-color="#111111"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171552481901315_632.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171552534201315_684.png"
                                                            alt="다 잘 될거에요!">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="항상 옆에있을게요"
                                                        data-background-color="#e4e1db" data-font-color="#111111"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171553384601315_685.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171553421501315_665.png"
                                                            alt="항상 옆에있을게요">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="항상응원해"
                                                        data-background-color="#8188ff" data-font-color="#ffffff"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171554238001315_633.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171554271001315_666.png"
                                                            alt="항상응원해">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="힘내" data-background-color="#ffdb2c"
                                                        data-font-color="#111111"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171555073401315_634.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171555098401315_667.png"
                                                            alt="힘내">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="화이팅" data-background-color="#38ad66"
                                                        data-font-color="#ffffff"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171555412701315_668.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171555436701315_686.png"
                                                            alt="화이팅">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="수고했어 오늘도"
                                                        data-background-color="#303d83" data-font-color="#ffffff"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171556174001315_687.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171556198001315_635.png"
                                                            alt="수고했어 오늘도">
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="swiper-slide">
                                                <label class="message_radio">
                                                    <input type="radio" data-text="CHEER UP! 항상 응원해"
                                                        data-background-color="#2a3542" data-font-color="#ffffff"
                                                        data-img-src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171556545001315_688.png">
                                                    <span>
                                                        <img class="message_img" src="//cdn.011st.com/browsing/space/banner/2022/3/17/2203171556571701315_636.png"
                                                            alt="CHEER UP! 항상 응원해">
                                                    </span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12 title">
                <span style="font-size:x-large;">주문상품</span>
                <span>상품수량 및 옵션변경 상품상세 또는 장바구니에서 가능합니다</span>
            </div>
            <div class="col-md-12">판매자이름</div>
            {% for i in items %}
            <div class="col-md-12 d-flex flex-row">
                <div class="col-md-2">
                    <img src="https://cdn.011st.com/11dims/thumbnail/120x120/11src/pd/21/4/1/8/5/1/2/OhMDg/2014418512_L300.jpg"
                        alt="">
                </div>
                <div class="col-md-5">
                    <div>상품이름</div>
                    <div>상품옵션</div>
                </div>
                <div class="col-md-1">수량</div>
                <div class="col-md-2">가격</div>
                <div class="col-md-2">배송비</div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-12">
            <div class="col-md-12 title">결제방법</div>
            <div></div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12 title">결제방식</div>
            <div></div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12 title">할부방식</div>
            <div></div>
        </div>
    </div>
    <!-- 결제창 fixed -->
    <div class="col-md-3 border">
        <div class="col-md-12">
            <div style="height: 200px; position:sticky;">
                <div>결제예정금액</div>
                <div>
                    <dl></dl>
                    <div></div>
                </div>
            </div>
            <hr>
            <p>하기 필수약관을 확인하였으며 결제에 동의합니다.</p>
            <div>
                <button>(해당가격)원 결제하기</button>
            </div>
        </div>
        <div class="col-md-12">이용약관

        </div>
    </div>
</div>
{% endblock %}