{% extends "base.html" %}

{% block title %}
주문하기
{% endblock %}

{% block contents %}
<br><br><br><br><br><br><br><br><br><br><br>
<div class="border container">
    <div class="border container row justify-content-end p-3">
        <div class="border col-md-3 d-flex justify-content-center text-primary">
            <span class="border bg-secondary text-white">장바구니</span>>
            <span class="border bg-black text-white">주문결제</span>>
            <span class="border bg-secondary text-white">주문완료</span>
            </div>
        <div class="border row">
            <div class="col-md-6">상품명</div>
            <div class="col-md-3">금액</div>
            <div class="col-md-3">수량</div>
        </div>
    </div>
    <div class="border container p-3">
        {% for i in items %}
        {% if items %}
        <div class="border row my-3">
            <div class="border col-md-1 bg-primary text-white">상품이미지{# 상품이미지 #}</div>
            <div class="border col-md-5">
                <div class="border">상품명{# 상품명 #}</div>
                <div class="border">상품옵션{# 상품옵션 #}</div>
            </div>
            <div class="border col-md-3">
                <div class="border">정가{# 정가 #}</div>
                <div class="border">판매금액{# 판매금액 #}</div>
            </div>
            <div class="border col-md-3">
                <div class="border">수량{# 상품이미지 #}</div>
                <div class="border">취소하기</div>
            </div>
        </div>
        {% else %}
        <div>
            <div>
                장바구니가 비어있어요!
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="border row justify-content-center p-3">
        <button class="btn btn-primary col-md-1">주문하기</button>
    </div>
    <div class="border container p-3">추천상품
        <div class="border row  justify-content-around p-3">
            <div class="border col-md-2 p-1">
                <img class="col-md-12" src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/dl/22/3/9/4/9/5/1/ZkDhq/2868394951_139190870_05.jpg" alt="">
            </div>
            <div class="border col-md-2 p-1">
                <img class="col-md-12" src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/dl/22/3/9/4/9/5/1/ZkDhq/2868394951_139190870_05.jpg" alt="">
            </div>
            <div class="border col-md-2 p-1">
                <img class="col-md-12" src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/dl/22/3/9/4/9/5/1/ZkDhq/2868394951_139190870_05.jpg" alt="">
            </div>
            <div class="border col-md-2 p-1">
                <img class="col-md-12" src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/dl/22/3/9/4/9/5/1/ZkDhq/2868394951_139190870_05.jpg" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}