{% extends "base.html" %}
{% load mathfilters %}

{% block title %}
베스트 100
{% endblock %}

<script>
  $(document).ready(function() {
    $(document).height() = 1000
    
    $(window).scroll(function() { 
      if ($(window).scrollTop() == $(document).height() - $(window).height())
      { 
        $(document).height() += 1000
      } 
    }); 
  });
</script>

{% block contents %}
<div class="container col-md-3 m-5 mb-5">
  <h2>베스트 100</h2>
</div>
<div class="container align-items-center">
{% for i in range %}
<div class="container d-flex justify-content-around">
  <div class="col-md-3">
    <div class="container row">
      <a href="#" style="text-decoration: none; color: black;">
        <span>{{ i|mul:4|add:1 }}</span>
        <div class="container">
          <img class="col-md-12"
            src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
            alt="...">
        </div>
        <div class="row">
          <p class="col-md-12">상품이름 {{ product_name }}</p>
          <div class="col-md-6">가격 {{ product_price }}</div>
          <div class="col-md-4 col-md-offset-4">평점 {{ product_rating }}</div>
          <div class="col-md-4">배송비 {{ product_delivery }}</div>
        </div>
        <div class="col-md-3">판매자{{ seller_name }}</div>
      </a>
    </div>
  </div><div class="col-md-3">
    <div class="container row">
      <a href="#" style="text-decoration: none; color: black;">
        <span>{{ i|mul:4|add:2 }}</span>
        <div class="container">
          <img class="col-md-12"
            src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
            alt="...">
        </div>
        <div class="row">
          <p class="col-md-12">상품이름 {{ product_name }}</p>
          <div class="col-md-6">가격 {{ product_price }}</div>
          <div class="col-md-4 col-md-offset-4">평점 {{ product_rating }}</div>
          <div class="col-md-4">배송비 {{ product_delivery }}</div>
        </div>
        <div class="col-md-3">판매자{{ seller_name }}</div>
      </a>
    </div>
  </div><div class="col-md-3">
    <div class="container row">
      <a href="#" style="text-decoration: none; color: black;">
        <span>{{ i|mul:4|add:3 }}</span>
        <div class="container">
          <img class="col-md-12"
            src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
            alt="...">
        </div>
        <div class="row">
          <p class="col-md-12">상품이름 {{ product_name }}</p>
          <div class="col-md-6">가격 {{ product_price }}</div>
          <div class="col-md-4 col-md-offset-4">평점 {{ product_rating }}</div>
          <div class="col-md-4">배송비 {{ product_delivery }}</div>
        </div>
        <div class="col-md-3">판매자{{ seller_name }}</div>
      </a>
    </div>
  </div><div class="col-md-3">
    <div class="container row">
      <a href="#" style="text-decoration: none; color: black;">
        <span>{{ i|mul:4|add:4 }}</span>
        <div class="container">
          <img class="col-md-12"
            src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
            alt="...">
        </div>
        <div class="row">
          <p class="col-md-12">상품이름 {{ product_name }}</p>
          <div class="col-md-6">가격 {{ product_price }}</div>
          <div class="col-md-4 col-md-offset-4">평점 {{ product_rating }}</div>
          <div class="col-md-4">배송비 {{ product_delivery }}</div>
        </div>
        <div class="col-md-3">판매자{{ seller_name }}</div>
      </a>
    </div>
  </div>
</div>
<hr>
{% endfor %}
</div>
<div class="row justify-content-center m-5">
  <button class="btn btn-primary col-md-1">top</button>
</div>
{% endblock %}


