{% extends "base.html" %}
{% load mathfilters %}

{% block title %}
보낸 선물함 조회
{% endblock %}

{% block script %}

{% endblock %}

{% block contents %}
<style>

</style>

<div class="col-md-10">
    <h4 class="p-4 subtitle" style="color: red; font-weight: bold;">보낸 선물함 조회</h4>
    <table class="table table-bordered text-center mb-4 m-3">
        <thead>
            <tr>
                <th>보낸일자</th>
                <th>보낸 선물 조회</th>
                <th>보낸사람</th>
                <th>주문상황</th>
            </tr>
        <tbody class="align-items-center" style="height: auto;">
            <td>2022-03-26</td>
            <td>제닉스 게이밍 의자</td>
            <td>홍길동</td>
            <td>주문대기중</td>
        </tbody>
        </thead>
    </table>
    <hr>
    <!--Pagination-->
    <div class="container mt-1">
        <ul class="pagination justify-content-center">
            <span>
                < 1>
            </span>
        </ul>
    </div>
    <br><br><br><br><br><br><br>
    <h4 style="margin-left: 10px;">이런 상품은 어떠세요?</h4>
    <div class="container row">
        <div class="row col-md-6 border text-center g-0">
            <h6 class="mt-3">최근 인기 상품</h6>
            <hr>
            <div class="col-md-6">
                <img class="col-md-10"
                    src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
                    alt="...">
                <div class="text-center">
                    <span>상품명</span>
                </div>
            </div>
            <div class="col-md-6">
                <img class="col-md-10"
                    src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
                    alt="...">
                <div class="text-center">
                    <span>상품명</span>
                </div>
            </div>
            <div class="col-md-6">
                <img class="col-md-10"
                    src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
                    alt="...">
                <div class="text-center">
                    <span>상품명</span>
                </div>
            </div>
            <div class="col-md-6">
                <img class="col-md-10"
                    src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
                    alt="...">
                <div class="text-center">
                    <span>상품명</span>
                </div>
            </div>
        </div>
        <div class="row col-md-6 border text-center g-0">
            <h6 class="mt-3">최근 인기 상품</h6>
            <hr>
            <div class="col-md-6">
                <img class="col-md-10"
                    src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
                    alt="...">
                <div class="text-center">
                    <span>상품명</span>
                </div>
            </div>
            <div class="col-md-6">
                <img class="col-md-10"
                    src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
                    alt="...">
                <div class="text-center">
                    <span>상품명</span>
                </div>
            </div>
            <div class="col-md-6">
                <img class="col-md-10"
                    src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
                    alt="...">
                <div class="text-center">
                    <span>상품명</span>
                </div>
            </div>
            <div class="col-md-6">
                <img class="col-md-10"
                    src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
                    alt="...">
                <div class="text-center">
                    <span>상품명</span>
                </div>
            </div>
        </div>
    </div>

</div>





<script>
    var nav_bar = document.getElementById("nav-user");
    nav_bar.classList.remove("d-none");
</script>




{% endblock %}