{% extends "base.html" %}
{% block title %}
리뷰
{% endblock %}

{% block script %}
{% endblock %}

{% block contents %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

<style>
    .pro_modi{
        float: left;
        width: 50%;
        color: white;
        line-height: 20px;
        margin: 14px 0 15px 2px;
        font-size: 1.1em;
    }
    .close{
        float: right;
        height: 20px;
        color: white;
        line-height: 20px;
        margin: 10px 0 20px;
        text-align: center;
        font-size: 30px;
    }
    .title{
        height: 8%;
    }
    .content > div > p {
        float: right;
        font-size: 0.8em;
    }
    .sub_title div{
        font-size: 15px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: rgb(146, 143, 143);
        text-decoration: none;
        cursor: pointer;
    }
    .prod{
        background: url(/static/img/cat.jpg) no-repeat;
        background-size: cover;
        height: 7em;
    }
    .modal-footer > button{
        background-color: rgb(119, 118, 177);
        border: none;
    }
</style>

<div class="col-md-10 border">
    <div class="col-md-12 m-3" style="font-size:xx-large;">상품 리뷰</div>
    <hr><br>
    <div class="rev_btns col-md-12 d-flex flex-row pt-10 text-center align-middle">
        <div class="col-md-3 review_button" id="review1">리뷰 작성 가능한 목록</div>
        <div class="col-md-3 reviewed_button" id="review2">작성한 리뷰 목록</div>
    </div>

    <div class="row col-md-10 border pt-4" style="width: 100%; margin-left: 0;">
        <table class="table table-bordered text-center">
            <th class="col-md-2">작성일자</th>
            <th class="col-md-1">구분</th>
            <th class="col-md-3">상품명</th>
            <th class="col-md-1">배송비</th>
            <th class="col-md-3">평점+내용</th>
            <th class="col-md-2">수정/삭제</th>
            <tr class="align-middle text-center" style="height: 150px;">
                <td>
                    주문일자
                </td>
                <td>
                    <img>
                    주문상품정보
                </td>
                <td>
                    상품금액
                </td>
                <td>
                    배송비
                </td>
                <td>
                    {% for i in range %}
                    <i class="bi bi-star" style="font-size:14px;"></i>
                    {% endfor %}
                    <br>
                    대충 내용(간략히)

                </td>
                <td>
                    <button id= "mod_btn" class="btn btn-primary btn-sm">수정</button>
                    <button class="btn btn-primary btn-sm">삭제</button>
                </td>
                </tbody>
        </table>
        <div class="d-flex justify-content-center p-3">
            pagination
        </div>
    </div>
    <br><br><br><br><br><br><br>
    <h4 style="margin-left: 10px;">이런 상품은 어떠세요?</h4>
    <div class="container row">
        <div class="row col-md-6 border text-center g-0">
            <h6 class="mt-3">최근 인기 상품</h6>
            <hr>
            <div class="col-md-6">
                <img class="col-md-10"
                    src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
                    alt="...">
                <div class="text-center">
                    <span>상품명</span>
                </div>
            </div>
            <div class="col-md-6">
                <img class="col-md-10"
                    src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
                    alt="...">
                <div class="text-center">
                    <span>상품명</span>
                </div>
            </div>
            <div class="col-md-6">
                <img class="col-md-10"
                    src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
                    alt="...">
                <div class="text-center">
                    <span>상품명</span>
                </div>
            </div>
            <div class="col-md-6">
                <img class="col-md-10"
                    src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
                    alt="...">
                <div class="text-center">
                    <span>상품명</span>
                </div>
            </div>
        </div>
        <div class="row col-md-6 border text-center g-0">
            <h6 class="mt-3">최근 인기 상품</h6>
            <hr>
            <div class="col-md-6">
                <img class="col-md-10"
                    src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
                    alt="...">
                <div class="text-center">
                    <span>상품명</span>
                </div>
            </div>
            <div class="col-md-6">
                <img class="col-md-10"
                    src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
                    alt="...">
                <div class="text-center">
                    <span>상품명</span>
                </div>
            </div>
            <div class="col-md-6">
                <img class="col-md-10"
                    src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
                    alt="...">
                <div class="text-center">
                    <span>상품명</span>
                </div>
            </div>
            <div class="col-md-6">
                <img class="col-md-10"
                    src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
                    alt="...">
                <div class="text-center">
                    <span>상품명</span>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="modify" class="modal" style="background-color: rgba(0,0,0,0.4);">
    <div class="modal-content" style="width: 36%; margin: 13% auto; background-color: rgb(252, 252, 252);">
        <div class="title" style="border: none; background-color: rgb(119, 118, 177); margin-top: 0;">
            <span class="pro_modi col-10">상품리뷰 수정</span>
            <span class="col-1 close" id="close">&times;</span>
        </div>
        <div class="content row" style="width: 96%; margin: auto;">
            <div class="col-md-12" style="margin-bottom: -15px;"><p>조회수 : </p></div>
            <div class="col-md-12"><p>작성일 : </p></div>
            <div class="col-md-12 sub_title">
                <div class="row" style="width: 100%;">
                    <div class="col-md-3">구매상품</div>
                    <div class="col-md-3 prod"></div>
                    <div class="col-md-6">
                        <p style="margin-bottom: -0.03em; font-size: 12px;">상품이름 :</p>
                        <p style="margin-bottom: -0.03em; font-size: 12px;">옵션 :</p>
                        <textarea rows="3.8" style="width: 100%;"></textarea>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                    <div class="col-md-3">평점</div>
                    <div class="col-md-9">★★★★★</div>
                </div>
                <div class="row" style="margin-bottom: 2%;">
                    <div class="col-md-3">상세리뷰</div>
                    <textarea name="review" id="reivew" class="col-md-9"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" id = "close" class="btn btn-primary btn-sm col-md-4">취소</button>
            <button type="button" class="btn btn-primary btn-sm col-md-4">수정</button>
        </div>
    </div>
</div>

<script>
    var modal = document.getElementById('modify')
    var btn = document.getElementById('mod_btn')
    var btn_close = document.getElementById('close')

    btn.onclick = function(){
        modal.style.display = "block";
        $('body').css("overflow", "hidden");
    }

    btn_close.onclick = function() {
        modal.style.display = "none"
        $('body').css("overflow", "scroll");
    }
    
    window.onclick = function(event){
        if(event.target == modal){
            modal.style.display = 'none';
            $('body').css("overflow", "scroll");
	}
}
var nav_bar = document.getElementById("nav-user");
    nav_bar.classList.remove("d-none");

</script>


{% endblock %}