@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    font-family: "Noto Sans KR", "Helvetica Neue", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", "돋움", dotum, sans-serif;
    --color-symbol: #4f008a;
    --color-primary: #400170;
    --color-secondry: #8357a5;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 0px;
    text-align: left;
    border-right: 3px solid rgb(189, 188, 188);
}
.little_menu:hover{
    background-color: var(--color-symbol);
    color: white;
}

.sidenav a{
    color: black;
    display: block;
    font-size: 1em;
    padding: 5px 30px 0.5em 2em;
    text-decoration: none;
    font-weight: bold;
}
.catego,.sort{
    margin-top: 1em !important;
    font-size: 1.6em !important;
    color: rgb(135, 128, 211) !important;
    margin-left: 25px;
}
.sidenav_close{
    position: absolute;
    top: -8%;
    right: 10%;
    font-size: 30px !important;
    color: white !important;
}
.sidenav_close:hover{
    color: #6a5f77 !important;
}
#sidenav > .sidenav-top{
    background-color: var(--color-symbol);
    padding-top: 17px;
    margin-right: 0 !important;
    margin-left: 0;
}
.sidenav-top > div{
    float: left;
    color: white;
    vertical-align: middle;
    padding-bottom: 0.7em;
    position: relative;
}
.sidenav-top > div:first-child{
    font-size: 1.4em;
    font-weight: bold;
}
#sidenav > sidenav-top > div > img{
    width: 1em !important;
    height: 1em !important;
}
.cut{
    width: 100%;
    height: 0.5em;
    background-color: rgb(240, 232, 232);
}
.sch-ico-side:focus {
    color: #c5b4e3;
    cursor: pointer;
}
.sch-ico-side{
    cursor: pointer;
}
.sch-ico-side:hover{
    color: #b5c2af;
}


/* button style */
.btn-primary {
    color: var(--color-primary);
    background-color: #fff !important;
    border-color: var(--color-primary) !important;
}

.btn-primary:hover {
    color: var(#fff) !important;
    background-color: var(--color-secondry) !important;
    border-color: var(--color-primary) !important;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: #fff !important;
    background-color: var(--color-symbol) !important;
    border-color: var(--color-primary) !important;
    box-shadow: 0 0 0 .25rem var(--color-secondry) !important;
}

.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle {
    background-color: var(--color-symbol) !important;
    border-color: var(--color-primary) !important;
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem var(--color-secondry) !important
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: var(--color-symbol) !important;
    border-color: var(--color-primary) !important;
}