#wrap{
    width: 100%;
    margin-right: 0;
}
#container{
    width: 570px;
    margin: 0 auto;
}
.sc{
    margin: 100px auto;
    width: 95%;
}
#container > div > div{
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    margin-left: 3em;
    width: 80%;
}
#container > div > div > span{
    font-size: 18px;
    font-weight: bold;
}
#container > div > div > input{
    border: none;
    font-size: 12px;
    margin-bottom: 10px;
    width: 70%;
}
#container > .sub{
    border: none;
}
#container > .sub label{
    font-size: 12px;    
}
#container > .sub div+div{
    font-size: 11px;    
    color: gray;
    margin: 20px 0 20px 0;
}
#container .sub div:last-child > button{
    width: 100%;
}