.wrap{
    margin: 4em auto;
    width: 80%;
}
.main_content{
    border: 3px solid rgb(179, 178, 178);
    border-radius: 2em;
    width: 100%;
}

h2{
    text-align: center;
    font-size: 1.5em;
    margin-top: 1.5em;
}
h2 > strong{
    color: red;
}
p{
    text-align: center;
    margin-top: -0.5em;
    color: gray;
}
.main_row{
    width: 90%;
    /* border: 1px solid black; */
    margin: 3em auto 0;
}
.main_row > .row {
    margin-left: 0;
    margin-right: 0;
}
.main_row > .row > .col-3{
    background-color: rgb(236, 232, 232);
    padding: 1em;
}
.main_row > .row > .col-9{
    padding: 1em;
}
.row1{
    border-top: 3px solid rgb(170, 168, 168);
    border-bottom: 2px solid rgb(185, 184, 184);
}
.row2{
    border-top: black;
    border-bottom: 2px solid rgb(185, 184, 184);
}
.row3{
    border-bottom: 3px solid rgb(170, 168, 168);
}
.sub_summary{
    margin: auto;
    width: 100%;
}
.sub_summary > table{
    margin: 0.6em auto 3em;
    width: 90%;
}
td{
    height: 2em;
    font-size: 0.5em;
    color: darkgray;
}
.sub_summary > table > tr > td > img{
    width: 10px !important;
    height: 10px !important;
}
.btn{
    width: 100%;
}
.btbt{
    width: 70%;
    margin: 1em auto 1em;
}
.btbt > button{
    width: 48%;
    height: 3em;
    font-weight: bold;
    color: white;
}
@media ( max-width: 768px ) {
    .wrap{
        width: 750px;
        margin: 5em auto 2em;
    }
    .main_content{
        width: 90%;
        margin: 0 auto;
    }
}