.container > h4{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px; 
}
.head{
    width: 100%; height:50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px; font-weight:bold;
    line-height: 50px;
    background-color: #4f008a;
    border-radius: 5px;
    letter-spacing: 1px;
    box-shadow: 3px 3px 5px #c5b4e3;
}
.row1{
    margin: auto;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    color: white;
}
.row1 > button{
    border-radius: 0.2em;
    color: white;
}
.date > .sub_date{
    margin-top: 20px;
    width: 100%;
    margin-left: 0;
    box-shadow: 2px 2px 5px gray;
    border-radius: 5px;
    background-color: #c5b4e3;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}
.sub_date > div > input{
    background-color: #c5b4e3;
    border: none;
    font-weight: bold;
    color: white;
}
.sub_date > div > h2{
    text-align: center;
    margin: auto;
    height: 0.8em;
    padding: auto;
    tab-size: 0.5em;
    line-height: 0.6em;
    font-weight: bold;
    color: white;
}
.sub_date > div:last-child > input{
    background-color: #c5b4e3;
    border: none;
    float: right;
    font-weight: bold;
}
