{% extends "base.html" %}
{% load mathfilters %}

{% block title %}
찜한 상품
{% endblock %}

{% block stylesheet %}
{% load static %}
<link href="{% static 'css/pick.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}

<style>
    @media (max-width: 768px) {
        .table {
            font-size: 0.5rem;
        }
    }
</style>




<div class="col-md-10 container">
    <div class="wrap">
        <h4>{{pick.id}}번 찜</h4>
        <form name="pck" action="{% url 'pick_update' pick.id %}" method="POST" >
            {% csrf_token %}
            <input type="hidden" name="uid" value="#"/>   
            <div class="mb-3 mt-3">
                <label for="reason">찜 사유:</label>
                <input type="text" class="form-control" id="reason" placeholder="찜사유을 입력하세요" name="reason" value="{{pick.reason}}">
            </div>
            <div class="mb-3 mt-3">
                <label for="comment">찜 코멘트:</label>
                <textarea class="form-control" rows="5" id="comment" placeholder="찜 코멘트를 입력하세요" name="comment">{{pick.comment}}</textarea>
            </div>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary btn-md">수정하기</button>&emsp;&emsp;
                <button type="button" class="btn btn-secondary btn-md" onclick="history.back()">이전으로</button>&emsp;&emsp;
                <button type="button" class="btn btn-danger btn-md" onclick="jDelete()">삭제하기</button>
            </div>
        </form>
        <form action="{% url 'pick_delete' %}" name="delete" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{pick.id}}">
        </form>
    </div>
</div>

<div id="sidenav" class="sidenav">
    <div class="modal-top row">
        <div class="col-10"><img src="/static/img/login (1).png"> 사용자 이름</div>
        <div class="col-2"><a href="#" class="sidenav_close" onclick="closenav()">&times;</a></div>
    </div>
    <div style="clear: both;"></div>
    <div class="cut"></div>
    <a href="#" class="catego">카테고리</a>
    <a href="#" class="little_menu">뷰티</a>
    <a href="#" class="little_menu">식품</a>
    <a href="#" class="little_menu">스포츠/레저/자동차</a>
    <a href="#" class="little_menu">출산/육아</a>
    <a href="#" class="little_menu">가구/인테리어</a>
    <a href="#" class="little_menu">생활/건강</a>
    <a href="#" class="little_menu">가전/디지털</a>
    <a href="#" class="little_menu">도서/취미/펫</a>
    <a href="#" class="little_menu">여행/티켓</a>
    <a href="#" class="little_menu">해외직구</a>
    <a href="#" class="sort">정렬</a>
    <a href="#" class="little_menu">가나다순</a>
    <a href="#" class="little_menu">평점순</a>
    <a href="#" class="little_menu">조회순</a>
</div>

<script>
    $("#checkAll").click(function () {
        $(".form-check-input").prop('checked', $(this).prop('checked'));
    });

    

    function opennav(){
        document.getElementById("sidenav").style.width = "18%";
    }

    function closenav(){
        document.getElementById("sidenav").style.width = "0";
    }

    var nav_bar = document.getElementById("nav-user");
    nav_bar.classList.remove("d-none");

    function jDelete(){
        var r = confirm('삭제하시겠습니까?');
        if(r){
            document.forms['delete'].submit();
        }
    }
</script>


{% endblock %}