{% extends "base.html" %}
{% block title %}
검색 결과창
{% endblock %}

{% block contents %}
<style>
  * { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
  }
</style>

<div class="col-md-10 border" style="word-break: keep-all;">
  <div class="flex-wrap flex-md-nowrap align-items-center pt-4 pb-3 m-3">
    <h2>평점순</h2>
    <h5>총 n개의 상품</h5>
  </div>

  <div class="container row justify-content-between">
    <div class="col-md-3">
      <a href="#" style="text-decoration: none;">
        <div class="thumbnail">
          <img class="col-md-12"
            src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
            alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
          </div>
        </div>
        <div class="row">
          <p class="col-md-12">상품이름 {# 상품이름 #}</p>
          <div class="col-md-6">가격 {# 상품가격 #}</div>
          <div class="col-md-4 col-md-offset-4">평점 {# 상품평점평균값 #}</div>
          <div class="col-md-4">배송비 {# 배송비 #}</div>
        </div>
        <div class="col-md-3">판매자</div>
      </a>
    </div>
    <div class=" col-md-3">
      <a href="#" style="text-decoration: none;">
        <div class="thumbnail">
          <img class="col-md-12"
            src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
            alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
          </div>
        </div>
        <div class="row">
          <p class="col-md-12">상품이름 {# 상품이름 #}</p>
          <div class="col-md-6">가격 {# 상품가격 #}</div>
          <div class="col-md-4 col-md-offset-4">평점 {# 상품평점평균값 #}</div>
          <div class="col-md-4">배송비 {# 배송비 #}</div>
        </div>
        <div class="col-md-3">판매자</div>
      </a>
    </div>
    <div class=" col-md-3">
      <a href="#" style="text-decoration: none;">
        <div class="thumbnail">
          <img class="col-md-12"
            src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
            alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
          </div>
        </div>
        <div class="row">
          <p class="col-md-12">상품이름 {# 상품이름 #}</p>
          <div class="col-md-6">가격 {# 상품가격 #}</div>
          <div class="col-md-4 col-md-offset-4">평점 {# 상품평점평균값 #}</div>
          <div class="col-md-4">배송비 {# 배송비 #}</div>
        </div>
        <div class="col-md-3">판매자</div>
      </a>
    </div>
    <div class=" col-md-3">
      <a href="#" style="text-decoration: none;">
        <div class="thumbnail">
          <img class="col-md-12"
            src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
            alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
          </div>
        </div>
        <div class="row">
          <p class="col-md-12">상품이름 {# 상품이름 #}</p>
          <div class="col-md-6">가격 {# 상품가격 #}</div>
          <div class="col-md-4 col-md-offset-4">평점 {# 상품평점평균값 #}</div>
          <div class="col-md-4">배송비 {# 배송비 #}</div>
        </div>
        <div class="col-md-3">판매자</div>
      </a>
    </div>
  </div>

  <div class="flex-wrap flex-md-nowrap align-items-center pt-4 pb-3 m-3 border-top">
    <span style="color: red;">'검색이름'</span>
    <span>에 해당하는 상품</span>
  </div>

  <div class="container row justify-content-between">
    {% for item in items %}
    <div class=" col-md-3">
      <a href="#" style="text-decoration: none;">
        <div class="thumbnail">
          <img class="col-md-12"
            src="{{ item.image }}"
            alt="...">
          <div class="caption">
            <h4>{{ item.title|striptags }}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">{{ item.lprice }}</div>
          <div class="col-md-4 col-md-offset-4">4.5</div>
        </div>
        <div class="col-md-3">{{ item.mallName }}</div>
      </a>
    </div>
    {% endfor %}

    <!--Pagination-->
    <div class="container mt-1">
      <ul class="pagination justify-content-center">
          {# << 표시 여부 #} 
          {% if count.number > 1 %}       
          <li class="page-item"><a class="page-link" href="{% url 'product_search' %}" title="처음"><i class='fas fa-angle-double-left'></i></a></li>
          {% endif %}
  
          {# < 표시 여부 #}
          {% if start_page > 1%}
          <li class="page-item"><a class="page-link" href="{% url 'product_search' %}?page={{ start_page|add:-1 }}" title="이전"><i class='fas fa-angle-left'></i></a></li>
          {% endif %}
  
          {# 페이징 안의 '숫자' 표시 #}
          {% if count.paginator.num_pages > 1 %}
              {% for p in page_range %}
                  {% if count.number != p %}
                  <li class="page-item"><a class="page-link" href="{% url 'product_search' %}?page={{ p }}">{{ p }}</a></li>
                  {% else %}
                  <li class="page-item active"><a class="page-link" href="#" title="현재페이지">{{ p }}</a></li>
                  {% endif %}
              {% endfor %}
          {% endif %}
  
          {# > 표시 #}
          {% if count.paginator.num_pages > end_page %}
          <li class="page-item"><a class="page-link" href="{% url 'product_search' %}?page={{ end_page|add:1 }}" title="다음"><i class='fas fa-angle-right'></i></a></li>
          {% endif %}
         
          {# >> 표시 #}
          {% if count.number < count.paginator.num_pages %}
          <li class="page-item"><a class="page-link" href="{% url 'product_search' %}?page={{ count.paginator.num_pages }}" title="마지막"><i class='fas fa-angle-double-right'></i></a></li>
          {% endif %}
      </ul>
    </div>
  </div>
</div>

<script>
  var nav_bar = document.getElementById("nav-category");
  nav_bar.classList.remove("d-none");
</script>
{% endblock %}