* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Helvetica Neue", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", "돋움", dotum, sans-serif;
}

.rev_btns {
    border-bottom: 7px solid #4f008a ;
    margin-bottom: 0px;
    border-collapse: collapse;
    border-width: 100%;
}

.review_button {
    width: 30%;
    color: white;
    background-color: #4f008a;
    border: 1px;
    margin-left: 10px;
    height: 40px;
    padding-top: 10px;
}

.reviewed_button {
    width: 30%;
    background-color: #e2e2e2;
    color: black;
    height: 40px;
    padding-top: 10px;
}

.review_button:hover,
.reviewed_button:hover {
    cursor: pointer;
}

.review_table {
    width: 100%;
    margin-left: 0;
    /* display: block; */
}

.reviewed_table {
    width: 100%;
    margin-left: 0;
    /* display: none; */
}

.cont_table {
    border: 3px solid black;
}


.box1 {
    border:1px solid rgb(235,235,235);
    border-width: 0 1px 0 0;    
}

.box2 {
    border: 1px solid rgb(235,235,235);
    border-width: 0 0 0 1px;
}

.productimg1 {
    background: url(/static/img/cat.jpg) no-repeat;
    max-width: 50%;
    background-size: cover;
    height: 7em;
}





.inner-star::before{color: #FF9600;}
.outer-star {position: relative;display: inline-block;color: #CCCCCC;}
.inner-star {position: absolute;left: 0;top: 0;width: 0%;overflow: hidden;white-space: nowrap;}
.outer-star::before, .inner-star::before {content: '\f005 \f005 \f005 \f005 \f005';font-family: 'Font Awesome 5 free';font-weight: 900;}



.pro_modi {
    float: left;
    width: 50%;
    color: white;
    line-height: 20px;
    margin: 14px 0 15px 2px;
    font-size: 1.1em;
}

.close {
    float: right;
    height: 20px;
    color: white;
    line-height: 20px;
    margin: 0.32em 0.3em 20px;
    text-align: left;
    font-size: 30px;
}

.title {
    height: 8%;
}

.content>div>p {
    float: right;
    font-size: 0.8em;
}

.sub_title div {
    font-size: 15px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(146, 143, 143);
    text-decoration: none;
    cursor: pointer;
}

.prod {
    background: url(/static/img/cat.jpg) no-repeat;
    background-size: cover;
    height: 7em;
}

.modal-footer>button {
    background-color: rgb(119, 118, 177);
    border: none;
}







