{% extends "base.html" %}

{% block title %}
상담문의 완료확인
{% endblock %}

{% block stylesheet %}
{% load static %}
<link href="{% static 'css/questionOK.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="col-md-10">
    <div class="wrap">
        <div class="main_content">
            <div>
                <h2><strong>상담문의</strong>가 완료되었습니다.</h2>
                <p>아래 상담관련 내용을 확인해보세요.</p>
            </div>
            <div class="main_row">
                <div class="row row1">
                    <div class="col-3">상담제목</div>
                    <div class="col-9">{{ title }}</div>
                </div>
                <div class="row row2">
                    <div class="col-3">이메일</div>
                    <div class="col-9">{{ email }}</div>
                </div>
                <div class="row row3">
                    <div class="col-3">휴대폰 번호</div>
                    <div class="col-9">{{ phone }}</div>
                </div>
            </div>
            <div class="sub_summary">
                <table>
                    <tr>
                        <td rowspan="2" class="warning col-1"><img src="/static/wonjun/img/warning.png" style="width: 35px; height: 35px;"></td>
                        <td class="col-11">위의 개인정보 수집 이용에 대한 동의를 거부할 권리가 있습니다.</td>
                    </tr>
                    <tr>
                        <td class="col-11">그러나 동의를거부하실 경우 상담예약은 진행하실 수 없으며, 홈페이지 이용은 가능합니다.</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="btn">
            <div class="btbt">
                <button type="button" class="btn btn-primary" style="background-color: #4f008a; border: 1px solid #c5b4e3;" onclick="location.href='{% url 'order_list' %}'">마이페이지</button>
                <button type="button" class="btn btn-warning" style="background-color: #4b0cf7; border: 1px solid #c5b4e3;" onclick="location.href='{% url 'question_detail' PN.id %}'">고객센터</button>
            </div>
        </div>
    </div>
</div>
<script>
    var nav_bar = document.getElementById("nav-category");
    // var nav_bar = document.getElementById("nav-user");
    nav_bar.classList.remove("d-none");
</script>
{% endblock %}