{% extends "base.html" %}
{% load mathfilters %}

{% block title %}
보낸 선물함 조회
{% endblock %}

{% block script %}

{% endblock %}

{% block contents %}
<style>
    .page {
        padding-left: 30px;
    }

    .subtitle {
        padding: 30px;
        padding-left: 10px;
        color: #4f008a;
        font-weight: bold;
    }

    .table-hover th {
        background-color: #f0e8ff;
    }

    .r_subtitle {
        padding: 0 0 20px 10px;
        margin: 40px 0 0 0;
        font-size: large;
        border-bottom: 1px solid rgb(235, 235, 235);
    }

    .r_container {
        background-color: #e9ecef;
        height: 400px;
    }

    .product_list {
        display: flex;
        justify-content: space-around;
        padding: 30px;
        text-align: center;
    }

    .product {
        background-color: white;
        margin: 5px 0 0 9px;
    }

    .pup_info {
        position: relative;
        padding: 20px 0 15px 15px;
        height: 170px;
        text-align: left;
    }

    .pup_title {
        position: absolute;
        top: 12px;
        height: 30px;
        padding-right: 14px;
        font-size: 12px;
        line-height: 16px;
    }

    .pup_price {
        position: absolute;
        top: 22px;
        padding: 20px 14px 0 0;
        font-weight: bold;
    }

    .satisf_wrap {
        position: absolute;
        bottom: 0;
        padding-top: 20px;
        color: #757575;
        line-height: 30px;
    }
</style>

<div class="page col-md-10">
    <div class="col-md-12 mb-4 m-3 table-responsive" style="word-break: keep-all;">
        <h4 class="subtitle border-bottom">보낸 선물함 조회</h4>
        <table class="table table-hover text-center mt-5" style="overflow-x: auto;">
            <tr style="background-color: #f0e8ff;">
                <th>선물번호</th>
                <th>보낸 선물</th>
                <th>수량</th>
                <th>받는이</th>
            </tr>
            {% for product in products %}
            {% for present in presents %}
            {%if product.pk == present.product_id %}
            <tr>
                <td>{{product.product_id}}</td>
                <td>{{present.name}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.receiver_name}}</td>
            </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </table>
        <!--Pagination-->
        <div class="container mt-1">
            <ul class="pagination justify-content-center">
                <span>
                    < 1>
                </span>
            </ul>
        </div>
    </div>
    <div>
        <h4 class="r_subtitle">이런 상품은 어떠세요?</h4>
        <div class="r_container">
            <div class="product_list col-md-12">
                {% for i in recommend %}
                <div class="product col-md-3">
                    <a href="#">
                        <img class="col-md-10"
                            src="https://cdn.011st.com/11dims/resize/400x400/quality/75/11src/pd/20/9/5/2/3/7/9/oezvb/1024952379_L300.jpg"
                            alt="...">
                    </a>
                    <div class="pup_info">
                        <div class="pup_title">상품명</div>
                        <div class="pup_price">가격</div>
                        <div class="satisf_wrap">
                            <div class="rating">별점</div>
                            <p class="seller_id">판매자 이름</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>


<script>
    var nav_bar = document.getElementById("nav-user");
    nav_bar.classList.remove("d-none");
</script>




{% endblock %}