{% extends "base.html" %}

{% block title %}
선물완료
{% endblock %}

{% block stylesheet %}
{% load static %}
<link href="{% static 'css/purchase_success.css' %}" rel="stylesheet">
{% endblock %}

{% block nav %}
{% endblock %}

{% block contents %}

<div class="page col-md-12">
    <div class="purchase_title">
        <div class="d-flex">
            <div class="col-xxl-8 col-md-5 col-sm-5 ft-xxl">주문결제</div>
            <div class="col-xxl-4 col-md-7 col-sm-7 border text-center row order_procedure">
                <span class="col-sm-4 order_procedure_left">1.장바구니</span>
                <span class="col-sm-4 y-border">2.주문결제</span>
                <span class="col-sm-4 bg-black text-white order_procedure_right">3.주문완료</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-md-12 d-flex success_box">
        <div class="col-md-4 success_inner_box">
            <div class="col-md-12 text-center">주문번호 {{ present.id }} 가</div>
            <div class="col-md-12 text-center">선물메세지가 {{ present.receiver_phone }}{# 휴대폰번호 #}(으)로 전달되었습니다.</div>
        </div>
    </div>

    <div class="col-sm-12 purchase_subtitle">주문상품</div>
    <div class="col-sm-12">
        <div class="product col-md-12 d-flex product">
            <div class="col-md-2 outer">
                <img class="col-md-12" src="{{ product.image }}" alt="">
            </div>
            <div class="col-md-6 outer">
                <div class="inner">{{ product.name }}</div>
            </div>
            <div class="col-md-4 outer">
                <div class="inner_2">{{ present.quantity }} 개</div>
                <div class="inner_2">총 금액 : {{ sum }}</div>
            </div>
        </div>
    </div>
    <div class="btn_container">
        <button class="btn btn-primary col-md-1 mx-3" style="width: 110px;" onclick="goMypage()">선물함</button>
        <button class="btn btn-secondary col-md-1 mx-3" style="width: 110px;" onclick="goService()">고객센터</button>
    </div>
    <script>
        function goMypage(){
            location.href="{% url 'present_list' %}"
        }
        function goService(){
            location.href="{% url 'question_main' %}"
        }
    </script>
</div>
{% endblock %}