.sb-color {
    background-color: #f2f2f2;
}

.m-container-trand {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #f3f3f3;

    /* width: px; */
}

.m-container-best {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #f3f3f3;

    width: 400px;
}

.m-rcd-img {
    border-radius: 50%;
}