#wrap{
    width: 100%;
    margin: 0 auto;
}
.agree_all{
    margin-bottom: 20px;
}
#agree{
    width: 450px;
    margin: 40px auto;
    /* outline: 1px solid red; */
}
#agree p{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
.Essential{
    margin-bottom: 20px;
}
.Essential > div{
    margin-bottom: 5px;
}
.btn{
    width: 80%;
    margin-top: 20px;
}
