/* th {
    font-size: 15px;
}

td {
    font-size: 12px;
}*/
h4{
    font-weight: bold;
    margin-bottom: 1em;
}
strong{
    color: rgb(43, 28, 28);
}
table {
    text-align: center;
}
table > tbody > tr > td:first-child{
    text-align: left;    
}
table > tbody > tr > td:first-child > img{
    margin-left: 2em;
}
th, td, tr, thead, tbody{
    border: none;
}
thead{
    border-top: 2px solid rgb(182, 181, 181);
    color: white;
}
thead > tr{
    background-color: #c5b4e3;
}
tbody{
    border-bottom: 2px solid rgb(182, 181, 181);
}
tbody > tr{
    border-bottom: 2px solid rgb(182, 181, 181);
}
th, td{
    border-right: 5px solid rgb(243, 241, 241);
}
th:last-child, td:last-child{
    border-right: none;
}
td{
    vertical-align: middle;
}
img {
    width: 70px;
    height: 50px;
}
.wrap{
    margin-left: 2em;
    margin-top: 1em;
}
.table >:not(:first-child){
    border-top: 2px solid rgb(182, 181, 181);
}
.table-bordered>:not(caption)>*>* {
    border-width: 0 1px;
}
/* tbody > tr > td > .btn{
    background-color: #c5b4e3;
    border: 1px solid #c5b4e3;
    font-weight: bold;
    font-size: 0.7em;
}
tbody > tr > td > .btn:hover{
    background-color: #4f008a;
} */
/* .last_btn{
    width: 100%;
}
.last_btn > button{
    float: left;
    margin-left: 2em;
    width: 15em;
} */
/* .last_btn > button:first-child{
    background-color: #c5b4e3;
    border: 1px solid #c5b4e3;
}
.last_btn > button:first-child:hover{
    background-color: #4f008a;
}
.last_btn > button:last-child{
    float: left;
    margin-left: 0.5em;
    background-color: rgb(250, 86, 86);
}
.last_btn > button:last-child:hover{
    background-color: red;
} */
.modal-header{
    background-color: #4f008a;
    padding: 0.6em;
}
.modal-header > button{
    background: none;
    margin-bottom: 55px;
}
.modal-header > button > div{
    font-size: 2.3em;
    margin-top: -23px;
    margin-left: -10px;
    color: white;
}
.modal-footer{
    margin: 0 auto;
    width: 100%;
}
.modal-footer > div > button:first-child{
    width: 47%;
}
.modal-footer > div > button:last-child{
    width: 47%;
    margin-left: 3%;
}
form label{
    font-weight: bold;
}

/* -----------------side menu------------------ */

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #250141;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 20px;
    text-align: left;
}

.sidenav a{
    color: white;
    display: block;
    font-size: 1.3em;
    padding: 5px 30px 0.5em 2em;
    text-decoration: none;
    font-weight: bold;
}
.catego,.sort{
    margin-top: 1em !important;
    font-size: 1.6em !important;
    color: rgb(151, 149, 179) !important;
    margin-left: -10px;
}
.sidenav_close{
    float: right;
    margin-top: -25px;
    font-size: 2.2em !important;
}