.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1b0130;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 20px;
    text-align: left;
}
.little_menu:hover{
    background-color: #4f008a;
    color: white;
}

.sidenav a{
    color: white;
    display: block;
    font-size: 1em;
    padding: 5px 30px 0.5em 2em;
    text-decoration: none;
    font-weight: bold;
}
.catego,.sort{
    margin-top: 1em !important;
    font-size: 1.6em !important;
    color: rgb(204, 202, 226) !important;
    margin-left: -25px;
}
.sidenav_close{
    position: absolute;
    top: -5px;
    right: 0em;
    font-size: 30px !important;
}
.sidenav_close:hover{
    color: #ddd6e7;
}
.sidenav-top > div{
    float: left;
    color: white;
    vertical-align: middle;
    padding-bottom: 0.7em;
    position: relative;
}
.sidenav-top > div:first-child{
    font-size: 1.4em;
    font-weight: bold;
}
#sidenav > sidenav-top > div > img{
    width: 1em !important;
    height: 1em !important;
}
.cut{
    width: 100%;
    height: 0.5em;
    background-color: rgb(240, 232, 232);
}
.sch-ico-side:focus {
    color: #c5b4e3;
    cursor: pointer;
}
.sch-ico-side{
    cursor: pointer;
}
.sch-ico-side:hover{
    color: #4f008a;
}