{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/sidenav.css' %}" rel="stylesheet">
    <link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bs/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% block stylesheet %}
    {% endblock %}

    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>


{% block header %}
<header style="width: 100%;">
    <div class="header-container">
        <div class="row w-100">
            <div class="col-md-2"></div>
            <div class="col-md-8 h-100">
                <div class="col-md-12">
                    <!-- search -->
                    <form action="{% url 'main' %}" method="POST">
                        {% csrf_token %}
                        <div class="sch-search">
                            <input type="text" class="form-control sch-search-box" id="text_search" name="sch_word"
                                placeholder="검색어를 입력해 주세요">
                        </div>
                    </form>
                </div>
                <div class="d-flex flex-row">
                    <div class="sch-nav">
                        <span class="sch-ico-side" onclick="opennav()"> &#9776;</span>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse">
                    <div class="sch-service">
                        <span class="sch-text-side"> <a href="{% url 'member_login' %}" style="text-decoration: none; color:white;">로그인</a></span>
                        <span class="sch-text-side"> <a href="{% url 'order_detail' %}" style="text-decoration: none; color:white;">마이페이지</a></span>
                        <span class="sch-text-side"> <a href="{% url 'order_cart' %}" style="text-decoration: none; color:white;">장바구니</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

<body>
    <div class="row pad-10 w-100 overflow-hidden">
        {% block slideBar %}
        {% endblock %}
        <div class="col-xl-2">
        </div>
        <div class="d-flex flex-wrap col-xl-8 col-12">
            {% block nav %}
            <div class="d-none d-sm-block col-md-2 border">
                <nav id="sidebarMenu" class="d-md-block bg-light sidebar collapse">
                    <!-- 유저 정보 네비게이션 -->
                    <div id="nav-user" class="d-none">
                        <a href="/" class="d-flex align-items-center me-md-auto link-dark text-decoration-none">
                            <svg class="" width="0" height="0">
                                <use xlink:href="#bootstrap" /></svg>
                            <span class="fs-4 d-flex mb-auto ">{#회원ID#}회원ID님</span>
                        </a>
                        <hr>
                        <ul class="nav nav-pills flex-column mb-auto ">
                            <li class="nav-item">
                                <a href="#" class="nav-link link-dark" aria-current="page">
                                    <svg class="" width="0" height="0">
                                        <use xlink:href="#home" /></svg>
                                    개인정보 수정
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link link-dark">
                                    <svg class="" width="0" height="0">
                                        <use xlink:href="#speedometer2" /></svg>
                                    구매/배송 조회
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link link-dark">
                                    <svg class="" width="0" height="0">
                                        <use xlink:href="#table" /></svg>
                                    선물함
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link link-dark">
                                    <svg class="" width="0" height="0">
                                        <use xlink:href="#grid" /></svg>
                                    찜 목록
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link link-dark">
                                    <svg class="" width="0" height="0">
                                        <use xlink:href="#people-circle" /></svg>나의 상품 리뷰
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link link-dark">
                                    <svg class="" width="0" height="0">
                                        <use xlink:href="#people-circle" /></svg>고객센터 문의
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- 카테고리 네비게이션  -->
                    <div id="nav-category" class="d-none position-sticky pt-3">
                        <h5
                            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>카테고리</span>
                        </h5>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span>뷰티</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span>식품</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span>스포츠/레저/자동차</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span>출산/육아</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span>가구/인테리어</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span>생활/건강</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span>가전/디지털</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span>도서/취미/펫</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span>여행/티켓</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span>해외직구</span></a>
                            </li>
                        </ul>
                        <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
                            <span>정렬</span>
                        </h5>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span>가나다순</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span>평점순</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><span>조회순</span></a>
                            </li>
                    </div>
                </nav>
            </div>
            {% endblock %}
            <div id="sidenav" class="sidenav">
                <div class="sidenav-top row" style="margin-top: 0;">
                    <div class="col-10"><img src="/static/img/login (1).png" style="width: 2.6em;"> 사용자 이름</div>
                    <div class="col-2"><a href="#" class="sidenav_close" onclick="closenav()" style="right: -5%;">&times;</a></div>
                </div>
                <div style="clear: both;"></div>
                <div class="cut"></div>
                <a href="#" class="catego">카테고리</a>
                <a href="#" class="little_menu">뷰티</a>
                <a href="#" class="little_menu">식품</a>
                <a href="#" class="little_menu">스포츠/레저/자동차</a>
                <a href="#" class="little_menu">출산/육아</a>
                <a href="#" class="little_menu">가구/인테리어</a>
                <a href="#" class="little_menu">생활/건강</a>
                <a href="#" class="little_menu">가전/디지털</a>
                <a href="#" class="little_menu">도서/취미/펫</a>
                <a href="#" class="little_menu">여행/티켓</a>
                <a href="#" class="little_menu">해외직구</a>
                <a href="#" class="sort">정렬</a>
                <a href="#" class="little_menu">가나다순</a>
                <a href="#" class="little_menu">평점순</a>
                <a href="#" class="little_menu">조회순</a>
            </div>
            {% block contents %}
            {% endblock %}
        </div>
    </div>
</body>
{% block footer %}

<footer style="margin-top: 100px; background-color: #f0e8ff;">
    <div class="container col-md-8 p-4">
        <div class="row d-flex justify-content-center ">
            <div class="col-auto" id="fbuttons">
                <button type="submit" class="btn mb-4">
                    로그아웃
                </button>&emsp;
                <button type="submit" class="btn mb-4" id="btn-back-to-top">
                    위로
                </button>&emsp;
                <button type="submit" class="btn mb-4">
                    홈으로
                </button>
            </div>
        </div>
        <div class="col-md-6 mb-4" style="float: left;">
            <h6>FG Mall(주)</h6>
            <p style="font-size: 9px;">
                대표이사 : 홍길동, 주소 : 서울특별시 강남구 테헤란로 146 현익빌딩 3층, 4층 (신한은행건물)
                <br>Tel : 1234-5678, 사업자등록번호 : 000-00-00000 <br><br>
                FG Mall(주)는 통신판매중개자로서 오픈마켓 FG Mall의 거래당사자가 아니며, <br> 입점판매자가 등록한 상품정보 및 거래에 대해 FG Mall(주)는 일체 책임을 지지
                않습니다.
            </p>
        </div>
        <div class="col-md-6 mb-4" style="float: right;">
            <h6>고객센터 1234-5678(유료)</h6>
            <p style="font-size: 9px;">
                주소 : 서울특별시 강남구 테헤란로 146 현익빌딩 3층, 4층 (신한은행건물)
                <br>Fax : 02-234-5678 / email : customerservice@fgmall.com <br>
                <a href="#">고객센터 바로가기 ></a>
            </p>
            <h6>전자금융거래분쟁담당</h6>
            <p style="font-size: 9px;">
                Tel : 9876-5432 / Fax : 02-876-5432
                <br>email : customerservice@fgmall.com
            </p>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div class="text-center p-2"
        style="background-color: rgba(0, 0, 0, 0.05); font-size: 10px; color: rgba(0, 0, 0, 0.3);">
        © 2022 Copyright: FG Mall Co.,Ltd. All Rights Reserved.
    </div>
</footer>

{% endblock %}

{% block script %}
<script>
    // function navigo() {
    //     const header = document.querySelector('header');
    //     const headerheight = header.clientHeight / 2;
    //     console.log(headerheight);
    //     document.addEventListener('scroll', onScroll, {
    //         passive: true
    //     }); //스크롤 이벤트
    //     function onScroll() {
    //         const scrollposition = pageYOffset;
    //         const nav = document.querySelector('sch-nav');
    //         if (headerheight <= scrollposition) {
    //             nav.classList.add('sch-fix')
    //         } else {
    //             nav.classList.remove('sch-fix');
    //         }
    //     }

    // }
    // navigo()


    let mybutton = document.getElementById("btn-back-to-top");

    mybutton.addEventListener("click", backToTop);

    function backToTop(x) {
        console.log(x)
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    function opennav() {
        if($(window).width() < 1300){
            document.getElementById("sidenav").style.width = "40%";
        } 
        else {
            document.getElementById("sidenav").style.width = "20%";
        }
        // if (matchMedia("screen and (max-width: 768px)").matches) {
        //     document.getElementById("sidenav").style.width = "40%";
        // }
        // else{
        //     document.getElementById("sidenav").style.width = "20%";
        // }
    }

    function closenav() {
        document.getElementById("sidenav").style.width = "0";
    }
</script>
{% endblock %}

</html>