{% load static %}
<!DOCTYPE html>
<html lang="ko" style="height: 100%">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'Leyhara/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bs/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
{% block script %}
{% endblock %}

{% block header %}
<header>
    <div class="header-line">
        &#9776;
    </div>
</header>
{% endblock %}

{% block contents %}
{% endblock %}

</html>