{% extends "base.html" %}
{% block title %}
회원가입 페이지
{% endblock %}

{% block contents %}

<body style="height: 100%">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <form>
            <div class="col-md-12 display-4 text-center fw-bold p-5">
                회원정보 입력
            </div>
            <div class="container p-1">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-2 text-left fw-bold">
                        아이디
                    </div>
                    <div class="col-md-4">
                        <input class="w-100" type="text" name="personal-id" id="personal-id"
                            placeholder="6 ~ 20자 영문, 숫자"></textarea>
                    </div>
                </div>
            </div>
            <div class="container p-1">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-2 text-left fw-bold">
                        비밀번호
                    </div>
                    <div class="col-md-4">
                        <input class="w-100" type="text" name="personal-id" id="personal-id"
                            placeholder="6 ~ 12자 영문, 숫자, 특수문자"></textarea>
                    </div>
                </div>
            </div>
            <div class="container p-1">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-2 text-left fw-bold">
                        비밀번호 확인
                    </div>
                    <div class="col-md-4">
                        <input class="w-100" type="text" name="personal-id" id="personal-id"
                            placeholder="6 ~ 12자 영문, 숫자, 특수문자"></textarea>
                    </div>
                </div>
            </div>
            <div class="container p-1">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-2 text-left fw-bold">
                        이름
                    </div>
                    <div class="col-md-4">
                        <input class="w-100" type="text" name="personal-id" id="personal-id"></textarea>
                    </div>
                </div>
            </div>
            <div class="container p-1">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-2 text-left fw-bold">
                        이메일
                    </div>
                    <div class="col-md-4">
                        <input class="w-100" type="email" name="personal-id" id="personal-id"></textarea>
                    </div>
                </div>
            </div>
            <div class="container p-1">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-2 text-left fw-bold">
                        휴대폰 번호
                    </div>
                    <div class="col-md-4">
                        <input class="w-100" type="email" name="personal-id" id="personal-id" placeholder='01012341234 ("-" 빼고 입력)'></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
{% endblock %}