{% extends "base.html" %}
{% block title %}
리뷰
{% endblock %}


{% block stylesheet %}
{% load static %}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css' />

<style>
    .starpoint_wrap{display:inline-block;}
    .starpoint_box{position:relative;background:url(https://hsecode.github.io/images_codepen/codepen_sp_star.png) 0 0
    no-repeat;font-size:0;}
    .starpoint_box
    .starpoint_bg{display:block;position:absolute;top:0;left:0;height:18px;background:url(https://hsecode.github.io/images_codepen/codepen_sp_star.png)
    0 -20px no-repeat;pointer-events:none;}
    .starpoint_box .label_star{display:inline-block;width:10px;height:18px;box-sizing:border-box;}
    .starpoint_box .star_radio{opacity:0;width:0;height:0;position:absolute;}
    .starpoint_box .star_radio:nth-of-type(1):hover ~ .starpoint_bg,
    .starpoint_box .star_radio:nth-of-type(1):checked ~ .starpoint_bg{width:10%;}
    .starpoint_box .star_radio:nth-of-type(2):hover ~ .starpoint_bg,
    .starpoint_box .star_radio:nth-of-type(2):checked ~ .starpoint_bg{width:20%;}
    .starpoint_box .star_radio:nth-of-type(3):hover ~ .starpoint_bg,
    .starpoint_box .star_radio:nth-of-type(3):checked ~ .starpoint_bg{width:30%;}
    .starpoint_box .star_radio:nth-of-type(4):hover ~ .starpoint_bg,
    .starpoint_box .star_radio:nth-of-type(4):checked ~ .starpoint_bg{width:40%;}
    .starpoint_box .star_radio:nth-of-type(5):hover ~ .starpoint_bg,
    .starpoint_box .star_radio:nth-of-type(5):checked ~ .starpoint_bg{width:50%;}
    .starpoint_box .star_radio:nth-of-type(6):hover ~ .starpoint_bg,
    .starpoint_box .star_radio:nth-of-type(6):checked ~ .starpoint_bg{width:60%;}
    .starpoint_box .star_radio:nth-of-type(7):hover ~ .starpoint_bg,
    .starpoint_box .star_radio:nth-of-type(7):checked ~ .starpoint_bg{width:70%;}
    .starpoint_box .star_radio:nth-of-type(8):hover ~ .starpoint_bg,
    .starpoint_box .star_radio:nth-of-type(8):checked ~ .starpoint_bg{width:80%;}
    .starpoint_box .star_radio:nth-of-type(9):hover ~ .starpoint_bg,
    .starpoint_box .star_radio:nth-of-type(9):checked ~ .starpoint_bg{width:90%;}
    .starpoint_box .star_radio:nth-of-type(10):hover ~ .starpoint_bg,
    .starpoint_box .star_radio:nth-of-type(10):checked ~ .starpoint_bg{width:100%;}

    .blind{position:absolute;clip:rect(0 0 0 0);margin:-1px;width:1px;height: 1px;overflow:hidden;}
</style>
{% endblock %}


{% block contents %}

<div class="col-md-10">


    <!--작성모달-->
    <div id="write" class="col-md-11" style="margin: 10px auto;">
        <div class="modal-conten">
            <div class="title" style="border: none;">
                <h3 class="pro_modi">상품리뷰 작성 및 수정</h3>
            </div>
            <hr>
            <form name="rFrm" action="{% url 'review_update' id %}" method="POST">
                {% csrf_token %}
                <div class="content row" style="width: 96%; margin: auto;">
                    <div class="col-md-12 sub_title">
                        <div class="row" style="width: 100%;">
                            <div class="col-md-6">상품 일련번호 : {{ product.pk }}</div>
                            <div class="col-md-3 prod" style="width: 500px; height: 500px; margin-top: 20px;">
                                <img src="{{ product.image }}" alt="" style="width: 100%;">
                            </div>
                            <div class="col-md-6">
                                <p style="margin-bottom: -0.03em; font-size: 16px;">상품명 : {{ product.name }}</p>
                                <input type="text" style="margin-bottom: 70px; width: 100%; border: none;" readonly>
                            </div>
                        </div>
                        <hr>
                        <div class="row" style="margin-top: 20px; margin-bottom: 70px;">
                            <div class="col-md-3">평점</div>
                            <div class='col-md-9 RatingStar'>
                                <!-- <div class='RatingScore'>
                                    <div class='outer-star'>
                                        <div class='inner-star'>
                                            <input type="number" value="{{ review.rating }}" name="rating">
                                        </div>
                                    </div>
                                </div> -->
                                <div class="starpoint_wrap">
                                    <div class="starpoint_box">
                                        <label for="starpoint_1" class="label_star" title="0.5"><span
                                                class="blind">0.5</span></label>
                                        <label for="starpoint_2" class="label_star" title="1"><span
                                                class="blind">1</span></label>
                                        <label for="starpoint_3" class="label_star" title="1.5"><span
                                                class="blind">1.5</span></label>
                                        <label for="starpoint_4" class="label_star" title="2"><span
                                                class="blind">2</span></label>
                                        <label for="starpoint_5" class="label_star" title="2.5"><span
                                                class="blind">2.5</span></label>
                                        <label for="starpoint_6" class="label_star" title="3"><span
                                                class="blind">3</span></label>
                                        <label for="starpoint_7" class="label_star" title="3.5"><span
                                                class="blind">3.5</span></label>
                                        <label for="starpoint_8" class="label_star" title="4"><span
                                                class="blind">4</span></label>
                                        <label for="starpoint_9" class="label_star" title="4.5"><span
                                                class="blind">4.5</span></label>
                                        <label for="starpoint_10" class="label_star" title="5"><span
                                                class="blind">5</span></label>
                                        <input type="radio" value="0.5" name="rating" id="starpoint_1" class="star_radio">
                                        <input type="radio" value="1" name="rating" id="starpoint_2" class="star_radio">
                                        <input type="radio" value="1.5" name="rating" id="starpoint_3" class="star_radio">
                                        <input type="radio" value="2" name="rating" id="starpoint_4" class="star_radio">
                                        <input type="radio" value="2.5" name="rating" id="starpoint_5" class="star_radio">
                                        <input type="radio" value="3" name="rating" id="starpoint_6" class="star_radio">
                                        <input type="radio" value="3.5" name="rating" id="starpoint_7" class="star_radio">
                                        <input type="radio" value="4" name="rating" id="starpoint_8" class="star_radio">
                                        <input type="radio" value="4.5" name="rating" id="starpoint_9" class="star_radio">
                                        <input type="radio" value="5" name="rating" id="starpoint_10" class="star_radio">
                                        <span class="starpoint_bg"></span>
                                    </div>
                                    </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row" style="margin-bottom: 2%;">
                            <div class="col-md-3">상세리뷰</div>
                            <textarea name="detail" rows="10" id="reivew" class="col-md-8"></textarea>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer justify-content-center">
                <button type="button" onclick="cancel()" id="close_sec" class="btn btn-primary btn-sm col-md-4">취소</button>
                <button type="button" onclick="submit()" class="btn btn-primary btn-sm col-md-4">작성완료</button>
            </div>
        </div>
    </div>

    <script>
        // 작성모달
        var nav_bar = document.getElementById("nav-user");
        nav_bar.classList.remove("d-none");

        // ratings = {
        //     RatingScore: 4.5
        // }
        // totalRating = 5;
        // table = document.querySelector('.RatingStar');

        // function rateIt() {
        //     for (rating in ratings) {
        //         ratingPercentage = ratings[rating] / totalRating * 100;
        //         ratingRounded = Math.round(ratingPercentage / 10) * 10 + '%';
        //         star = table.querySelector(`.${rating} .inner-star`);
        //         numberRating = table.querySelector(`.${rating} .numberRating`);
        //         star.style.width = ratingRounded;
        //         numberRating.innerText = ratings[rating];
        //     }
        // }
        // rateIt()

        function cancel() {
            var r = confirm('취소하시겠습니까?')
            if (r) {
                location.href = "{% url 'review' %}"
            }
        }

        function submit() {
            var r = confirm('수정하시겠습니까?')
            if (r) {
                document.forms['rFrm'].submit();
            }  
        }
    </script>
    {% endblock %}