{% extends "base.html" %}
{% block title %}
리뷰
{% endblock %}


{% block stylesheet %}
{% load static %}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css'/>
{% endblock %}


{% block contents %}

<div class="col-md-10">
    <div id="write" class="col-md-11" style="margin: 10px auto;">
        <div class="modal-conten">
            <div class="title" style="border: none;">
                <h3 class="pro_modi">상품리뷰 상세</h3>
            </div>
            <hr>
            <form action="{% url 'review' %}">
                <div class="content row" style="width: 96%; margin: auto;">
                    <div class="col-md-12 sub_title">
                        <div class="row" style="width: 100%;">
                            <div class="col-md-3">구매상품</div>
                            <div class="col-md-3 prod">상품사진</div>
                            <div class="col-md-6">
                                <p style="margin-bottom: -0.03em; font-size: 12px;">상품명</p>
                                <input type="text" style="margin-bottom: 70px; width: 100%; border: none;" readonly>
                            </div>
                        </div>
                        <hr>
                        <div class="row" style="margin-top: 20px; margin-bottom: 70px;">
                            <div class="col-md-3">평점</div>
                            <div class='col-md-9 RatingStar'>
                                <div class='RatingScore'>
                                    <div class='outer-star'><div class='inner-star'></div></div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row" style="margin-bottom: 2%;">
                            <div class="col-md-3">{{ review.detail }}</div>
                            <textarea name="detail" rows="10" id="reivew" class="col-md-8"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <!-- <button type="button" id="close_sec" class="btn btn-primary btn-sm col-md-4">취소</button>
                    <button type="button" class="btn btn-primary btn-sm col-md-4">작성완료</button> -->
                    <input type="submit" class="btn btn-secondary btn-sm col-md-4" value="취소" src="{% url 'review' %}">
                    <input type="submit" class="btn btn-primary btn-sm col-md-4" value="작성완료">
                </div>
            </form>
        </div>
    </div>
{% endblock %}