{% extends "base.html" %}
{% load mathfilters %}

{% block title %}
로그인 정보 찾기
{% endblock %}
{% block stylesheet %}
{% load static %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block contents %}
<div style="width: 100%; margin-top: 20px;">
    <div style="margin: auto; width: 50%;">
        <h2 style="text-align: center; ">로그인 정보</h2>
        <hr>
        <div style="float: left; width: 50%;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>아이디</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in ulst %}
                    <tr>
                        <td>{{i}}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        <div style="float: left; width: 50%;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>비밀번호</th>
                    </tr>
                </thead>
                <tbody>
                    {% for j in pwlst %}
                    <tr>
                        <td>{{j}}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div style="text-align: center; margin-top: 30px;">
        <a type="button" class="btn btn-primary btn-lg" href="{% url 'member_login' %}">이전으로</a>
    </div>
</div>

{%endblock%}