{% extends "base.html" %}
{% load mathfilters %}

{% block title %}
약관 동의
{% endblock %}
{% block stylesheet %}
{% load static %}
<link href="{% static 'css/agreement.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div id="wrap">
    <div id="container">
        <form action="{%url 'member_join' %}" id="agree" method="post" onsubmit="return checkCheckBoxes();">
            {% csrf_token %}
            <div class="agree_all">
                <input class="form-check-input" id="checkALL" type="checkbox" onclick="selectALL(this)">
                <label for="checkALL">약관 전체 동의</label>
            </div>
            <div class="Essential">
                <p>필수 동의 항목</p>
                <div>
                    <input class="form-check-input" type="checkbox" id="Essential1" name="chk">
                    <label for="Essential1">[필수] 쇼핑몰 이용약관 ></label>
                </div>
                <div>
                    <input class="form-check-input" type="checkbox" id="Essential2" name="chk">
                    <label for="Essential2">[필수] 전자금융거래 이용약관 ></label>
                </div>
                <div>
                    <input class="form-check-input" type="checkbox" id="Essential3" name="chk">
                    <label for="Essential3">[필수] 개인정보 수집동의서 ></label>
                </div>
            </div>
            <div class="select">
                <p>선택 동의 사항</p>
                <div>
                    <input class="form-check-input" type="checkbox" id="select1" name="chk">
                    <label for="select1">[선택] 개인정보 수집 동의서 ></label>
                </div>
                <div>
                    <input class="form-check-input" type="checkbox" id="select2" name="chk">
                    <label for="select2">[선택] 위치기간 서비스 이용약관 ></label>
                </div>
                <div>
                    <input class="form-check-input" type="checkbox" id="select3" name="chk">
                    <label for="select3">[선택] 제 3자 마케팅 활용동의서 전체동의 ></label>
                </div>
            </div>
            <input type="submit" class="btn btn-secondary join" value="회원가입"></input>
        </form>
    </div>
    <!-- footer 시작 -->
    <footer>

    </footer>
    <!-- footer 끝 -->
</div>

<script>
    $(document).ready(function(){
        $("#checkALL").click(function() {
            if($("#checkALL").is(":checked")) $("input[name=chk]").prop("checked", true);
            else $("input[name=chk]").prop("checked", false);
        });
        $("input[name=chk]").click(function(){
            var total = $("input[name=chk]").length;
            var checked = $("input[name]:checked").length;

            if(total != checked) $("#checkALL").prop("checked", false);
            else $("#checkALL").prop("checked", true);
        });
    });

    function checkCheckBoxes() {
        if (agree.Essential1.checked == false || agree.Essential2.checked == false || agree.Essential3.checked == false) {
            alert ('필수항목에 동의해주세요');
            return false;
        } else {    
            alert ('동의 확인');
            return true;
        }
}
</script>
{% endblock %}
{% block nav %}
{% endblock %}