{% extends "base.html" %}

{% block title %}
문의사항 작성
{% endblock %}

{% block stylesheet %}
{% load static %}
<link href="{% static 'css/question.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="col-md-10">
    <div id="wrap">
        <div id="container">
            <div>
                <h3>메일상담</h4>
                    <h4>쇼핑몰 이용중에 생긴 불편한 점이나 문의사항을 보내주세요<br>
                    </h4>
            </div>
            <form class="main_area" name="main_area" method="POST" action="{% url 'question_write' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="re">
                    <p>* 표시는 필수 입력 항목입니다.</p>
                </div>
                <div class="title">
                    <div class="row">
                        <span class="col-md-3">상담제목 *</span>
                        <div class="col-md-9" style="height: 40px;"><input type="text" placeholder="상담제목을 입력주세요." name="title" required></div>
                    </div>
                </div>
                <hr>
                <div class="contents">
                    <div class="row">
                        <span class="col-md-3">상담내용 작성 *</span>
                        <div class="col-md-9"><textarea name="content" id="content" rows="5" required></textarea></div>
                    </div>
                </div>
                <hr>
                <div class="file">
                    <div class="row">
                        <span class="col-md-3">이미지파일 첨부</span>
                        <div class="col-md-9">
                            <!-- <button type="button" class="btn btn-primary btn-lg active" name="file">파일첨부</button> -->
                            <input type="file" name="uploadedFile" required>
                            <p>* 이미지파일 10MB 이내 첨부가능<br>
                                * 내용과 첨부 이미지에 개인정보가 포함되지 않도록 주의해주십시오.</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="email">
                    <div class="row">
                        <span class="col-md-3">답변받을 이메일</span>
                        <div class="col-md-9"><input type="email" placeholder="사용자이메일" name="email"></div>
                    </div>
                </div>
                <hr>
                <div class="p_num">
                    <div class="row">
                        <span class="col-md-3">알림받을 휴대폰번호</span>
                        <div class="col-md-9"><input type="text" placeholder="사용자 휴대폰번호" name="p_num"></div>
                    </div>
                </div>
                <hr>
                <!-- <div style="width: 100%;">
                    <button type="button" onclick="location.href='{% url 'questionOK' %}'" class="btn btn-primary btn-lg active">상담내용 작성완료</button>
                </div> -->
                <input type="submit" name="submit" value="상담내용 작성완료">
            </form>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
<script>
    var nav_bar = document.getElementById("nav-category");
    // var nav_bar = document.getElementById("nav-user");
    nav_bar.classList.remove("d-none");
</script>
{% endblock %}