{% extends "base.html" %}
{% load mathfilters %}

{% block title %}
찜한 상품
{% endblock %}

{% block stylesheet %}
{% load static %}
<link href="{% static 'css/pick.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}

<style>
    @media (max-width: 768px) {
        .table {
            font-size: 0.5rem;
        }
    }
</style>

<div class="col-md-10 container">
    <div class="wrap table-responsive">
        <h4><strong>찜</strong>한 상품</h4>
        <table class="table table-bordered" style="word-break: keep-all;">
            <thead>
                <tr>
                    <th><input class="form-check-input" type="checkbox" value="" id="checkAll" style="float: left;">상품</th>
                    <th>가격</th>
                    <th>배송비</th>
                    <th>평점</th>
                    <th>My Comment</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range %}
                <tr>
                    <td><input class="form-check-input" type="checkbox" value="" id="" style="float: left;"><img
                            src="https://cdn.011st.com/11dims/resize/600x600/quality/75/11src/pd/22/3/7/9/5/1/1/qEmIN/1431379511_B.jpg"
                            alt="..." class="img"> 제닉스 게이밍 의자</td>
                    <td>10,000</td>
                    <td>무료</td>
                    <td>4.5/5</td>
                    <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#jjim"
                            data-bs-whatever="{{i}}">My Comment</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="last_btn">
            <button type="button" class="btn btn-primary btn-xs" style="font-size: 10px;">선택목록 장바구니에 담기</button>
            <button type="button" class="btn btn-secondary btn-xs" style="font-size: 10px;">삭제하기</button>
        </div>
        <!-- <span id="onv" onclick="opennav()">aaaa</span> -->
    </div>
</div>

<div class="modal fade" id="jjim" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="jjimLabel" style="color: white; font-size: 1.1em;">Jjim</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><div>&times;</div></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="reason" class="col-form-label">찜 사유</label>
                        <input type="text" class="form-control" id="reason">
                    </div>
                    <div class="mb-3">
                        <label for="comment" class="col-form-label">찜 코멘트</label>
                        <textarea class="form-control" id="comment"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div style="width: 100%;">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-sm">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="sidenav" class="sidenav">
    <div class="modal-top row">
        <div class="col-10"><img src="/static/img/login (1).png"> 사용자 이름</div>
        <div class="col-2"><a href="#" class="sidenav_close" onclick="closenav()">&times;</a></div>
    </div>
    <div style="clear: both;"></div>
    <div class="cut"></div>
    <a href="#" class="catego">카테고리</a>
    <a href="#" class="little_menu">뷰티</a>
    <a href="#" class="little_menu">식품</a>
    <a href="#" class="little_menu">스포츠/레저/자동차</a>
    <a href="#" class="little_menu">출산/육아</a>
    <a href="#" class="little_menu">가구/인테리어</a>
    <a href="#" class="little_menu">생활/건강</a>
    <a href="#" class="little_menu">가전/디지털</a>
    <a href="#" class="little_menu">도서/취미/펫</a>
    <a href="#" class="little_menu">여행/티켓</a>
    <a href="#" class="little_menu">해외직구</a>
    <a href="#" class="sort">정렬</a>
    <a href="#" class="little_menu">가나다순</a>
    <a href="#" class="little_menu">평점순</a>
    <a href="#" class="little_menu">조회순</a>
</div>

<script>
    $("#checkAll").click(function () {
        $(".form-check-input").prop('checked', $(this).prop('checked'));
    });

    var jjim = document.getElementById('jjim')
    jjim.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        var jjimNum = button.getAttribute('data-bs-whatever')
        var modalTitle = jjim.querySelector('.modal-title')

        modalTitle.textContent = (parseInt(jjimNum)+1) + ' 번째 찜 사유 및 코멘트'
    });

    function opennav(){
        document.getElementById("sidenav").style.width = "18%";
    }

    function closenav(){
        document.getElementById("sidenav").style.width = "0";
    }

    var nav_bar = document.getElementById("nav-category");
    nav_bar.classList.remove("d-none");
</script>



{% endblock %}